! RT04 初期構成 (WAN/NBMA トランジット) ★変更禁止★
interface {{ links[0] }}
 description === underlay to RT01 (Hub) ===
 ip address 10.0.14.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === underlay to RT02 (Spoke1) ===
 ip address 10.0.24.2 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 description === underlay to RT03 (Spoke2) ===
 ip address 10.0.34.2 255.255.255.252
 no shutdown
!
