! 境界 RT01(ISP-A 側)。PPPoE・NAT・ACL・SLA は PoC 手順で投入
interface Ethernet0/0
 description TRANSIT
 ip address 10.20.255.1 255.255.255.248
 no shutdown
interface Ethernet0/1
 description to ISP-A (PPPoE)
 no ip address
 no shutdown
router ospf 1
 router-id 10.20.255.1
 network 10.20.255.0 0.0.0.7 area 0
