! 境界 RT02(ISP-B 側)。PPPoE・NAT・ACL・SLA は PoC 手順で投入
interface Ethernet0/0
 description TRANSIT
 ip address 10.20.255.2 255.255.255.248
 no shutdown
interface Ethernet0/1
 description to ISP-B (PPPoE)
 no ip address
 no shutdown
router ospf 1
 router-id 10.20.255.2
 network 10.20.255.0 0.0.0.7 area 0
