! ISP-A BRAS(PPPoE サーバ)
username ent-a@ispa password 0 pppA
ip local pool CUST-A 198.51.100.10 198.51.100.10
bba-group pppoe global
 virtual-template 1
interface Loopback0
 ip address 198.51.100.1 255.255.255.255
interface Virtual-Template1
 ip unnumbered Loopback0
 peer default ip address pool CUST-A
 ppp authentication chap
interface Ethernet0/0
 description to customer (PPPoE)
 no ip address
 pppoe enable group global
 no shutdown
interface Ethernet0/1
 description to INET
 ip address 198.51.100.249 255.255.255.252
 no shutdown
ip route 0.0.0.0 0.0.0.0 198.51.100.250
