! ISP-B BRAS(PPPoE サーバ)
username ent-b@ispb password 0 pppB
ip local pool CUST-B 203.0.113.20 203.0.113.20
bba-group pppoe global
 virtual-template 1
interface Loopback0
 ip address 203.0.113.1 255.255.255.255
interface Virtual-Template1
 ip unnumbered Loopback0
 peer default ip address pool CUST-B
 ppp authentication chap
interface Ethernet0/0
 description to customer (PPPoE)
 no ip address
 pppoe enable group global
 no shutdown
interface Ethernet0/1
 description to INET
 ip address 203.0.113.249 255.255.255.252
 no shutdown
ip route 0.0.0.0 0.0.0.0 203.0.113.250
