! ENCOR-OSPF-IF-01 初期状態 (RT02)。値は params/<variant>.yml 由来。
!   links[0] = RT01 向け
interface Loopback0
 ip address {{ params.rt02_lo }} 255.255.255.255
!
interface {{ links[0] }}
 description === to RT01 ===
 ip address {{ params.seg12 }}.2 255.255.255.252
 no shutdown
!
