! ENARSI-MPLS-L3VPN-03 初期状態 (RT01 = PE1 / 変更対象)
!   L3VPN-02 の完成形(稼働中)。PE-CE OSPF(10/20) + MP-BGP VPNv4 + 相互再配布 +
!   広告制御(route-map/prefix-list) + MSS まで投入済み。ここに sham-link を足すのが本問。
!   links[0]=RT02(P) / links[1]=RT04(CUST_A CE1) / links[2]=RT06(CUST_B CE1)
vrf definition CUST_A
 rd 65000:100
 address-family ipv4
  route-target export 65000:100
  route-target import 65000:100
 exit-address-family
!
vrf definition CUST_B
 rd 65000:200
 address-family ipv4
  route-target export 65000:200
  route-target import 65000:200
 exit-address-family
!
interface Loopback0
 ip address 1.1.1.1 255.255.255.255
!
interface {{ links[0] }}
 description === to RT02 P (10.1.12.0/30) ===
 ip address 10.1.12.1 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[1] }}
 description === to RT04 CUST_A-CE1 (192.168.1.0/30) ===
 vrf forwarding CUST_A
 ip address 192.168.1.2 255.255.255.252
 ip ospf 10 area 0
 ip tcp adjust-mss 1452
 no shutdown
!
interface {{ links[2] }}
 description === to RT06 CUST_B-CE1 (192.168.11.0/30) ===
 vrf forwarding CUST_B
 ip address 192.168.11.2 255.255.255.252
 ip ospf 20 area 0
 ip tcp adjust-mss 1452
 no shutdown
!
mpls ldp router-id Loopback0 force
!
ip prefix-list PL01 seq 5 permit 172.16.0.0/16 le 24
!
route-map MAPA_01 permit 10
 match ip address prefix-list PL01
!
route-map MAPB_01 permit 10
 match ip address prefix-list PL01
!
router ospf 10 vrf CUST_A
 router-id 1.1.1.1
 redistribute bgp 65000
!
router ospf 20 vrf CUST_B
 router-id 1.1.1.1
 redistribute bgp 65000
!
router ospf 1
 router-id 1.1.1.1
 network 1.1.1.1 0.0.0.0 area 0
 network 10.1.12.0 0.0.0.3 area 0
!
router bgp 65000
 bgp router-id 1.1.1.1
 no bgp default ipv4-unicast
 neighbor 3.3.3.3 remote-as 65000
 neighbor 3.3.3.3 update-source Loopback0
 address-family vpnv4
  neighbor 3.3.3.3 activate
  neighbor 3.3.3.3 send-community extended
 exit-address-family
 address-family ipv4 vrf CUST_A
  redistribute ospf 10 route-map MAPA_01
 exit-address-family
 address-family ipv4 vrf CUST_B
  redistribute ospf 20 route-map MAPB_01
 exit-address-family
!
