! GEN-MPLSEB-82048 初期状態 (RT08 = CUST_B site1 CE / 変更不可)
interface Loopback0
 description === CUST_B site1 LAN (172.16.90.0/24) ===
 ip address 172.16.90.9 255.255.255.0
!
interface Loopback9
 description === CE 機器管理 (VPN へ広告禁止) ===
 ip address 10.99.113.1 255.255.255.255
!
interface {{ links[0] }}
 description === to RT01 PE (site1, 192.168.39.0/30) ===
 ip address 192.168.39.1 255.255.255.252
 no shutdown
!
router bgp 65200
 bgp router-id 8.8.8.8
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 neighbor 192.168.39.2 remote-as 65000
 address-family ipv4
  network 172.16.90.0 mask 255.255.255.0
  network 10.99.113.1 mask 255.255.255.255
  neighbor 192.168.39.2 activate
 exit-address-family
!
