! 境界(代役)。TRANSIT 10.20.255.1・外側 192.0.2.1(NAT なし)
interface Ethernet0/0
 description TRANSIT
 ip address 10.20.255.1 255.255.255.248
 no shutdown
interface Ethernet0/1
 description OUTSIDE (SRV01)
 ip address 192.0.2.1 255.255.255.0
 no shutdown
router ospf 1
 router-id 10.20.255.1
 network 10.20.255.0 0.0.0.7 area 0
 default-information originate always metric 10 metric-type 1
ntp master 3
