! RT01 初期状態 (顧客エッジ・先般 監視の導入/変更作業を実施した直後の状態)
ip access-list extended SEC-PROTECT-IN
 deny icmp host 100.64.231.208 host 10.9.77.1 echo-reply
 permit ip any any
!
interface {{ links[0] }}
 description === to RT02 (primary ISP access) ===
 ip address 10.9.77.1 255.255.255.252
 ip access-group SEC-PROTECT-IN in
 no shutdown
!
interface {{ links[1] }}
 description === to RT03 (backup ISP access) ===
 ip address 10.9.116.1 255.255.255.252
 no shutdown
!
interface Loopback0
 ip address 1.1.1.1 255.255.255.255
!
ip sla 37
 icmp-echo 100.64.231.208 source-ip 10.9.77.1
 frequency 10
!
ip sla schedule 37 life forever start-time now
!
track 37 ip sla 37 reachability
!
ip route 100.64.231.208 255.255.255.255 10.9.77.2
ip route 0.0.0.0 0.0.0.0 10.9.77.2 track 37
ip route 0.0.0.0 0.0.0.0 10.9.116.2 200
!
