! 自動生成(gen_stp --world mst) seed=88339 SW01
vtp mode transparent
vlan 131
 name DATA131
vlan 139
 name DATA139
vlan 219
 name DATA219
!
spanning-tree mst configuration
 name BLDG-A
 revision 7
 instance 1 vlan 131,219
 instance 2 vlan 139
 exit
!
spanning-tree mst 0 priority 24576
spanning-tree mst 1 priority 24576
spanning-tree mst 2 priority 28672
spanning-tree mode mst
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 131,139,219
 spanning-tree guard loop
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 131,139,219
 spanning-tree guard loop
 no shutdown
!
interface {{ links[2] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 139,219
 spanning-tree guard root
 no shutdown
!
interface {{ links[3] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 131,139,219
 spanning-tree guard root
 no shutdown
!
interface Ethernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan131
 ip address 10.188.131.1 255.255.255.0
 no shutdown
!
interface Vlan139
 ip address 10.188.139.1 255.255.255.0
 no shutdown
!
interface Vlan219
 ip address 10.188.219.1 255.255.255.0
 no shutdown
!
