! 自動生成(gen_stp --world mst) seed=88339 SW03
vtp mode transparent
vlan 131
 name DATA131
vlan 139
 name DATA139
vlan 219
 name DATA219
!
spanning-tree mst configuration
 name BLDG-A
 revision 7
 instance 1 vlan 131,219
 instance 2 vlan 139
 exit
!
spanning-tree mode rapid-pvst
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 131,139,219
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 131,139,219
 spanning-tree mst 2 cost 8000000
 no shutdown
!
interface {{ links[4] }}
 switchport mode access
 switchport access vlan 139
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface {{ links[5] }}
 switchport mode access
 switchport access vlan 131
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface {{ links[6] }}
 switchport mode access
 switchport access vlan 139
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface {{ links[7] }}
 switchport mode access
 switchport access vlan 131
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface Ethernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan131
 ip address 10.188.131.3 255.255.255.0
 no shutdown
!
interface Vlan139
 ip address 10.188.139.3 255.255.255.0
 no shutdown
!
interface Vlan219
 ip address 10.188.219.3 255.255.255.0
 no shutdown
!
