! 自動生成(gen_stp) seed=61642 SW02
vtp mode transparent
vlan 98
 name DATA98
vlan 193
 name DATA193
vlan 197
 name DATA197
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
spanning-tree vlan 98 priority 28672
spanning-tree vlan 193 priority 24576
spanning-tree vlan 197 priority 24576
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 98,193,197
 spanning-tree guard loop
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 98,193,197
 spanning-tree guard loop
 no shutdown
!
interface {{ links[2] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 98,193,197
 spanning-tree guard root
 no shutdown
!
interface {{ links[3] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 98,193,197
 spanning-tree guard root
 no shutdown
!
interface Ethernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan98
 ip address 10.235.98.2 255.255.255.0
 no shutdown
!
interface Vlan193
 ip address 10.235.193.2 255.255.255.0
 no shutdown
!
interface Vlan197
 ip address 10.235.197.2 255.255.255.0
 no shutdown
!
