! 自動生成(gen_stp) seed=61642 SW04
vtp mode transparent
vlan 98
 name DATA98
vlan 193
 name DATA193
vlan 197
 name DATA197
vlan 99
 name PARK
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 98,193,197
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 98,193,197
 spanning-tree vlan 193 cost 300
 no shutdown
!
interface {{ links[4] }}
 switchport mode access
 switchport access vlan 98
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface {{ links[5] }}
 switchport mode access
 switchport access vlan 99
 spanning-tree portfast
 no shutdown
!
interface {{ links[6] }}
 switchport mode access
 switchport access vlan 98
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface {{ links[7] }}
 switchport mode access
 switchport access vlan 197
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface Ethernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan98
 ip address 10.235.98.4 255.255.255.0
 no shutdown
!
interface Vlan193
 ip address 10.235.193.4 255.255.255.0
 no shutdown
!
interface Vlan197
 ip address 10.235.197.4 255.255.255.0
 no shutdown
!
