! RT01 (role=d, eigrp=named) 初期構成 (AS 100)
interface Loopback0
 ip address 10.19.19.19 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.105.105.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address 10.167.167.2 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 ip address 10.140.140.1 255.255.255.252
 no shutdown
!
router eigrp CCNP
 address-family ipv4 unicast autonomous-system 100
  eigrp stub connected
  af-interface Loopback0
   passive-interface
  exit-af-interface
  eigrp router-id 10.19.19.19
  network 10.19.19.19 0.0.0.0
  network 10.105.105.0 0.0.0.3
  network 10.167.167.0 0.0.0.3
  network 10.140.140.0 0.0.0.3
 exit-address-family
!
