! RT04 (role=e, eigrp=named) 初期構成 (AS 100)
interface Loopback0
 ip address 10.9.9.9 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.140.140.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address 10.166.166.1 255.255.255.252
 no shutdown
!
router eigrp CCNP
 address-family ipv4 unicast autonomous-system 100
  eigrp stub connected
  af-interface Loopback0
   passive-interface
  exit-af-interface
  eigrp router-id 10.9.9.9
  network 10.9.9.9 0.0.0.0
  network 10.140.140.0 0.0.0.3
  network 10.166.166.0 0.0.0.3
 exit-address-family
!
