! RT07 (role=a, eigrp=named) 初期構成 (AS 100)
interface Loopback0
 ip address 10.79.79.79 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.101.101.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address 10.105.105.1 255.255.255.252
 no shutdown
!
router eigrp CCNP
 address-family ipv4 unicast autonomous-system 100
  af-interface Loopback0
   passive-interface
  exit-af-interface
  eigrp router-id 10.79.79.79
  network 10.79.79.79 0.0.0.0
  network 10.101.101.0 0.0.0.3
  network 10.105.105.0 0.0.0.3
 exit-address-family
!
