! GEN-CHAIN-9000 初期 (RT03) — 連鎖故障TS(12台)。設計書は task.md
interface Loopback0
 ip address 77.77.77.77 255.255.255.255
!
interface {{ links[0] }}
 description === to RT01 ===
 ip address 10.243.16.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === to RT05 ===
 ip address 10.139.19.1 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 description === to RT12 ===
 ip address 10.115.164.1 255.255.255.252
 no shutdown
!
router ospf 1
 router-id 77.77.77.77
 network 77.77.77.77 0.0.0.0 area 0
 network 10.243.16.0 0.0.0.3 area 0
 network 10.139.19.0 0.0.0.3 area 0
 network 10.115.164.0 0.0.0.3 area 0
!
router bgp 65001
 bgp router-id 77.77.77.77
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 neighbor 45.45.45.45 remote-as 65001
 neighbor 45.45.45.45 update-source Loopback0
 neighbor 43.43.43.43 remote-as 65001
 neighbor 43.43.43.43 update-source Loopback0
 neighbor 70.70.70.70 remote-as 65001
 neighbor 70.70.70.70 update-source Loopback0
 neighbor 19.19.19.19 remote-as 65001
 neighbor 19.19.19.19 update-source Loopback0
 neighbor 56.56.56.56 remote-as 65001
 neighbor 56.56.56.56 update-source Loopback0
 neighbor 98.98.98.98 remote-as 65001
 neighbor 98.98.98.98 update-source Loopback0
 neighbor 5.5.5.5 remote-as 65001
 neighbor 5.5.5.5 update-source Loopback0
 neighbor 47.47.47.47 remote-as 65001
 neighbor 47.47.47.47 update-source Loopback0
 address-family ipv4
  neighbor 45.45.45.45 activate
  neighbor 45.45.45.45 send-community
  neighbor 45.45.45.45 route-reflector-client
  neighbor 43.43.43.43 activate
  neighbor 43.43.43.43 send-community
  neighbor 43.43.43.43 route-reflector-client
  neighbor 70.70.70.70 activate
  neighbor 70.70.70.70 send-community
  neighbor 70.70.70.70 route-reflector-client
  neighbor 19.19.19.19 activate
  neighbor 19.19.19.19 send-community
  neighbor 19.19.19.19 route-reflector-client
  neighbor 56.56.56.56 activate
  neighbor 56.56.56.56 send-community
  neighbor 56.56.56.56 route-reflector-client
  neighbor 98.98.98.98 activate
  neighbor 98.98.98.98 send-community
  neighbor 98.98.98.98 route-reflector-client
  neighbor 5.5.5.5 activate
  neighbor 5.5.5.5 send-community
  neighbor 47.47.47.47 activate
  neighbor 47.47.47.47 send-community
 exit-address-family
!
