! ENARSI-REDIST-BGP-LOOP-01 初期 RC : 被害ルータ（BGP iBGP + EIGRP AS100 + OSPF area0）
! ★リングの起点側境界。iBGP学習(192.168.51.0/24)を EIGRP へ再配送(bgp redistribute-internal)。
!   OSPF にも参加しているため、一周して戻った O E2(110) を iBGP(200)より優先＝ループの震源。
interface Loopback0
 ip address {{ params.rc_lo }} 255.255.255.255
!
interface {{ links[0] }}
 ip address {{ params.seg_ec }}.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address {{ params.seg_ca }}.1 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 ip address {{ params.seg_cb }}.1 255.255.255.252
 no shutdown
!
router eigrp 100
 network {{ params.seg_ca }}.0 0.0.0.3
 no auto-summary
 redistribute bgp 65000 metric 100000 100 255 1 1500
 redistribute ospf 1 metric 100000 100 255 1 1500
!
router ospf 1
 router-id {{ params.rc_lo }}
 network {{ params.rc_lo }} 0.0.0.0 area 0
 network {{ params.seg_cb }}.0 0.0.0.3 area 0
!
router bgp 65000
 bgp router-id {{ params.rc_lo }}
 bgp log-neighbor-changes
 bgp redistribute-internal
 network {{ params.rc_lo }} mask 255.255.255.255
 neighbor {{ params.seg_ec }}.1 remote-as 65000
 redistribute eigrp 100
 redistribute ospf 1
!
