! ENARSI-MPLS-L3VPN-02 初期状態 (RT05 = CUST_A CE2 / 変更不可)
interface Loopback0
 description === CUST_A site2 LAN (172.16.2.0/24) ===
 ip address 172.16.2.1 255.255.255.0
 ip ospf network point-to-point
!
interface Loopback9
 description === CE 機器管理 (VPN へ広告禁止) ===
 ip address 10.99.5.1 255.255.255.255
!
interface {{ links[0] }}
 description === to RT03 PE2 (192.168.2.0/30) ===
 ip address 192.168.2.1 255.255.255.252
 no shutdown
!
router ospf 1
 router-id 5.5.5.5
 network 192.168.2.0 0.0.0.3 area 0
 network 172.16.2.0 0.0.0.255 area 0
 network 10.99.5.1 0.0.0.0 area 0
!
