! --- data plane ---
interface Loopback0
 ip address 6.6.6.6 255.255.255.255
interface Ethernet0/0
 description === to ZBX01(poller) ===
 ip address 10.99.0.1 255.255.255.252
 no shutdown
interface Ethernet0/1
 description === to RT02 ===
 ip address 10.1.12.1 255.255.255.252
 no shutdown
router ospf 1
 router-id 6.6.6.6
 network 6.6.6.6 0.0.0.0 area 0
 network 10.99.0.0 0.0.0.3 area 0
 network 10.1.12.0 0.0.0.3 area 0
