! RT02 (role=d, eigrp=named) 初期構成 (AS 100)
interface Loopback0
 ip address 10.99.99.99 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.178.178.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address 10.195.195.2 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 ip address 10.139.139.1 255.255.255.252
 no shutdown
!
router eigrp CCNP
 address-family ipv4 unicast autonomous-system 100
  eigrp stub connected
  af-interface Loopback0
   passive-interface
  exit-af-interface
  eigrp router-id 10.99.99.99
  network 10.99.99.99 0.0.0.0
  network 10.178.178.0 0.0.0.3
  network 10.195.195.0 0.0.0.3
  network 10.139.139.0 0.0.0.3
 exit-address-family
!
