! RT05 (role=g, eigrp=named) 初期構成 (AS 100)
interface Loopback0
 ip address 10.20.20.20 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.141.141.2 255.255.255.252
 no shutdown
!
router eigrp CCNP
 address-family ipv4 unicast autonomous-system 100
  af-interface Loopback0
   passive-interface
  exit-af-interface
  eigrp router-id 10.20.20.20
  network 10.20.20.20 0.0.0.0
  network 10.141.141.0 0.0.0.3
 exit-address-family
!
