! RT01(被験)
interface {{ links[0] }}
 description === to RT02 ===
 ip address 10.0.12.1 255.255.255.0
 no shutdown
!
interface {{ links[1] }}
 description === to RT03 ===
 ip address 10.0.13.1 255.255.255.0
 no shutdown
!
interface {{ links[2] }}
 description === to RT05 ===
 ip address 10.0.15.1 255.255.255.0
 no shutdown
!
interface {{ links[4] }}
 description === to RT06 ===
 ip address 10.0.16.1 255.255.255.0
 no shutdown
!
router eigrp 862
 eigrp router-id 1.1.1.1
 network 10.0.12.0 0.0.0.255
 network 10.0.13.0 0.0.0.255
 network 10.0.15.0 0.0.0.255
 network 10.0.16.0 0.0.0.255
!
