! RT05 (ISP) ★変更禁止★
interface Loopback0
 ip address 8.8.8.8 255.255.255.255
!
interface {{ links[0] }}
 description === to HQ ===
 ip address 203.0.113.1 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === to BRANCH1 ===
 ip address 198.51.100.1 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 description === to BRANCH2 ===
 ip address 198.51.100.5 255.255.255.252
 no shutdown
!
interface {{ links[4] }}
 description === to BRANCH3 ===
 ip address 198.51.100.9 255.255.255.252
 no shutdown
!
