! ROG 初期状態 (LAN-B に接続された他部署管理の機器・自社からは変更不可)
ipv6 unicast-routing
ipv6 cef
!
ipv6 dhcp pool GUEST
 dns-server 2001:DB8:45:BAD::53
 domain-name evil.example
!
interface {{ links[0] }}
 description === to LAN-B (SWB) ===
 ipv6 address 2001:DB8:45:BAD::1/64
 ipv6 nd other-config-flag
 ipv6 nd router-preference High
 ipv6 nd ra interval 30
 ipv6 nd ra lifetime 120
 ipv6 nd prefix 2001:DB8:45:BAD::/64 180 90
 ipv6 dhcp server GUEST
 no shutdown
!
line vty 0 4
 transport input ssh telnet
!
