! RT01 初期状態 (DHCPv6 サーバ予定機・土台のみ: Lo0/コア IF/LAN 宛の戻り経路)
ipv6 unicast-routing
ipv6 cef
!
interface Loopback0
 ipv6 address 2001:DB8:45:1::1/128
!
interface {{ links[0] }}
 description === to RT02 (core) ===
 ipv6 address 2001:DB8:45:12::1/64
 no shutdown
!
ipv6 route 2001:DB8:45:A::/64 2001:DB8:45:12::2
ipv6 route 2001:DB8:45:B::/64 2001:DB8:45:12::2
!
line vty 0 4
 transport input ssh telnet
!
