! RT02 初期状態 (ゲートウェイ予定機・土台のみ: IF アドレス/サーバ Lo0 宛経路)
ipv6 unicast-routing
ipv6 cef
!
interface {{ links[0] }}
 description === to RT01 (core) ===
 ipv6 address 2001:DB8:45:12::2/64
 no shutdown
!
interface {{ links[1] }}
 description === LAN-A ===
 ipv6 address 2001:DB8:45:A::1/64
 no shutdown
!
interface {{ links[2] }}
 description === LAN-B ===
 ipv6 address 2001:DB8:45:B::1/64
 no shutdown
!
ipv6 route 2001:DB8:45:1::/64 2001:DB8:45:12::1
!
line vty 0 4
 transport input ssh telnet
!
