! RT04 (AS 65211 / AS-c edge / BGP=mpbgp)
interface Loopback0
 ip address 25.25.25.25 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.31.218.2 255.255.255.252
 no shutdown
!
router bgp 65211
 bgp router-id 25.25.25.25
 no bgp default ipv4-unicast
 neighbor 10.31.218.1 remote-as 65355
 address-family ipv4 unicast
  neighbor 10.31.218.1 activate
  network 25.25.25.25 mask 255.255.255.255
 exit-address-family
!
