! ENARSI-MPLS-L3VPN-04 初期状態 (RT07 = CUST_B CE2 / 変更不可)
!   BGP 稼働済み (AS 65200 = ★全サイト共通の統一 AS)。
!   LAN は CUST_A と同一 /24 (ホスト部 .9)。
interface Loopback0
 description === CUST_B site2 LAN (172.16.2.0/24) ===
 ip address 172.16.2.9 255.255.255.0
!
interface Loopback9
 description === CE 機器管理 (VPN へ広告禁止) ===
 ip address 10.99.7.1 255.255.255.255
!
interface {{ links[0] }}
 description === to RT03 PE2 (192.168.12.0/30) ===
 ip address 192.168.12.1 255.255.255.252
 no shutdown
!
router bgp 65200
 bgp router-id 7.7.7.7
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 neighbor 192.168.12.2 remote-as 65000
 address-family ipv4
  network 172.16.2.0 mask 255.255.255.0
  network 10.99.7.1 mask 255.255.255.255
  neighbor 192.168.12.2 activate
 exit-address-family
!
