! 自動生成(gen_stp --world 3tier) seed=54926 SW05 = アクセス AS1
vtp mode transparent
vlan 41
 name DATA41
vlan 154
 name DATA154
vlan 202
 name DATA202
vlan 99
 name PARK
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
spanning-tree pathcost method long
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 41,154,202
 spanning-tree guard loop
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 41,154,202
 spanning-tree guard loop
 no shutdown
!
interface {{ links[4] }}
 switchport mode access
 switchport access vlan 41
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface {{ links[5] }}
 switchport mode access
 switchport access vlan 202
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface {{ links[6] }}
 switchport mode access
 switchport access vlan 154
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface {{ links[7] }}
 switchport mode access
 switchport access vlan 41
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface GigabitEthernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan41
 ip address 10.46.41.5 255.255.255.0
 no shutdown
!
interface Vlan154
 ip address 10.46.154.5 255.255.255.0
 no shutdown
!
interface Vlan202
 ip address 10.46.202.5 255.255.255.0
 no shutdown
!
