! RT01 初期状態 (VRF迷路・迷路本体。各部屋=VRF)
vrf definition ROOM-RED
 rd 65000:101
 address-family ipv4
 exit-address-family
!
vrf definition ROOM-OLIVE
 rd 65000:102
 address-family ipv4
 exit-address-family
!
vrf definition ROOM-GREEN
 rd 65000:103
 address-family ipv4
 exit-address-family
!
vrf definition ROOM-BLUE
 rd 65000:104
 address-family ipv4
 exit-address-family
!
vrf definition ROOM-AMBER
 rd 65000:105
 address-family ipv4
 exit-address-family
!
interface {{ links[0] }}
 no shutdown
!
interface {{ links[0] }}.370
 encapsulation dot1q 370
 vrf forwarding ROOM-RED
 ip address 10.68.1.1 255.255.255.252
!
interface {{ links[0] }}.337
 encapsulation dot1q 337
 vrf forwarding ROOM-OLIVE
 ip address 10.68.2.1 255.255.255.252
!
interface {{ links[0] }}.578
 encapsulation dot1q 578
 vrf forwarding ROOM-OLIVE
 ip address 10.68.3.1 255.255.255.252
!
interface {{ links[0] }}.229
 encapsulation dot1q 229
 vrf forwarding ROOM-GREEN
 ip address 10.68.4.1 255.255.255.252
!
interface {{ links[0] }}.867
 encapsulation dot1q 867
 vrf forwarding ROOM-GREEN
 ip address 10.68.5.1 255.255.255.252
!
interface {{ links[0] }}.341
 encapsulation dot1q 341
 vrf forwarding ROOM-BLUE
 ip address 10.68.6.1 255.255.255.252
!
interface {{ links[0] }}.492
 encapsulation dot1q 492
 vrf forwarding ROOM-BLUE
 ip address 10.68.7.1 255.255.255.252
!
interface {{ links[0] }}.735
 encapsulation dot1q 735
 vrf forwarding ROOM-AMBER
 ip address 10.68.8.1 255.255.255.252
!
interface Loopback11
 vrf forwarding ROOM-RED
 ip address 172.22.248.1 255.255.255.255
!
interface Loopback99
 vrf forwarding ROOM-AMBER
 ip address 172.22.47.1 255.255.255.255
!
ip route vrf ROOM-RED 172.22.47.1 255.255.255.255 {{ links[0] }}.370 10.68.1.2
ip route vrf ROOM-OLIVE 172.22.47.1 255.255.255.255 {{ links[0] }}.578 10.68.3.2
ip route vrf ROOM-OLIVE 172.22.248.1 255.255.255.255 {{ links[0] }}.337 10.68.2.2
ip route vrf ROOM-GREEN 172.22.47.1 255.255.255.255 {{ links[0] }}.229 10.68.4.2
ip route vrf ROOM-GREEN 172.22.248.1 255.255.255.255 {{ links[0] }}.229 10.68.4.2
ip route vrf ROOM-BLUE 172.22.47.1 255.255.255.255 {{ links[0] }}.492 10.68.7.2
ip route vrf ROOM-BLUE 172.22.248.1 255.255.255.255 {{ links[0] }}.341 10.68.6.2
ip route vrf ROOM-AMBER 172.22.248.1 255.255.255.255 {{ links[0] }}.735 10.68.8.2
