! GEN-REDISTLOOP 初期 RB : OSPF area0 内部(PC4 サイト相当)
interface Loopback0
 ip address {{ params.rb_lo }} 255.255.255.255
!
interface {{ links[0] }}
 ip address {{ params.seg_cb }}.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address {{ params.seg_ab }}.2 255.255.255.252
 no shutdown
!
router ospf 1
 router-id {{ params.rb_lo }}
 network {{ params.rb_lo }} 0.0.0.0 area 0
 network {{ params.seg_cb }}.0 0.0.0.3 area 0
 network {{ params.seg_ab }}.0 0.0.0.3 area 0
!
