no ip routing
vlan 40
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 40
 no shutdown
interface Vlan40
 ip address 10.9.40.11 255.255.255.0
 no shutdown
ip default-gateway 10.9.40.1
