! RT02
interface Loopback0
 ip address 71.71.71.71 255.255.255.255
!
interface Loopback1
 ip address 172.16.102.1 255.255.255.0
!
interface {{ links[1] }}
 ip address 10.142.120.1 255.255.255.252
 no shutdown
!
interface {{ links[0] }}
 ip address 10.253.20.2 255.255.255.252
 no shutdown
!
router bgp 64667
 bgp router-id 71.71.71.71
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 bgp bestpath compare-routerid
 neighbor 10.142.120.2 remote-as 64945
 neighbor 10.253.20.1 remote-as 65030
 address-family ipv4 unicast
  network 172.16.102.0 mask 255.255.255.0
  neighbor 10.142.120.2 activate
  neighbor 10.253.20.1 activate
 exit-address-family
!
route-map RM-MAINT-2019 deny 10
 set metric 100
!
