! ENARSI-EIGRP-VRF-01 初期 RT04 (テナントA site2 CE・設定済/変更禁止)
key chain KC-A
 key 1
  key-string Suzu2026A
!
interface Loopback1
 ip address 172.16.20.1 255.255.255.0
!
interface {{ links[0] }}
 ip address 10.10.2.1 255.255.255.252
 ip authentication mode eigrp 100 md5
 ip authentication key-chain eigrp 100 KC-A
 no shutdown
!
router eigrp 100
 network 10.10.2.0 0.0.0.3
 network 172.16.20.0 0.0.0.255
 no auto-summary
!
