! GEN-REDISTMP 初期 RE : EIGRP 内部(RF への正規経路の中継)
interface Loopback0
 ip address {{ params.re_lo }} 255.255.255.255
!
interface {{ links[0] }}
 ip address {{ params.seg_e31 }}.5 255.255.255.0
 no shutdown
!
interface {{ links[1] }}
 ip address {{ params.seg_e41 }}.5 255.255.255.0
 no shutdown
!
router eigrp {{ params.asn }}
 network {{ params.re_lo }} 0.0.0.0
 network {{ params.seg_e31 }}.0 0.0.0.255
 network {{ params.seg_e41 }}.0 0.0.0.255
!
