! RT01 初期状態 (テナントA site1 CE・設定済/変更禁止)
key chain KC-EDGE
 key 3
  key-string Ten6884Key
!
interface Loopback1
 ip address 172.25.116.1 255.255.255.0
!
interface Loopback2
 ip address 172.25.117.1 255.255.255.0
!
interface {{ links[0] }}
 ip address 10.19.119.1 255.255.255.252
 ip authentication mode eigrp 130 md5
 ip authentication key-chain eigrp 130 KC-EDGE
 no shutdown
!
router eigrp 130
 network 10.19.119.0 0.0.0.3
 network 172.25.116.0 0.0.0.255
 network 172.25.117.0 0.0.0.255
 no auto-summary
!
