! RT02
interface Loopback0
 ip address 71.71.71.71 255.255.255.255
!
interface Loopback1
 ip address 172.16.180.1 255.255.255.0
!
interface {{ links[1] }}
 ip address 10.214.74.1 255.255.255.252
 no shutdown
!
interface {{ links[0] }}
 ip address 10.109.137.2 255.255.255.252
 no shutdown
!
router bgp 64966
 bgp router-id 71.71.71.71
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 bgp bestpath compare-routerid
 neighbor 10.214.74.2 remote-as 65333
 neighbor 10.109.137.1 remote-as 64958
 address-family ipv4 unicast
  network 172.16.180.0 mask 255.255.255.0
  neighbor 10.214.74.2 activate
  neighbor 10.109.137.1 activate
 exit-address-family
!
