! RT04 初期状態 (テナントA site2 CE・設定済/変更禁止)
key chain KC-EDGE
 key 9
  key-string Ten5278Key
!
interface Loopback1
 ip address 172.21.65.1 255.255.255.0
!
interface {{ links[0] }}
 ip address 10.225.166.1 255.255.255.252
 ip authentication mode eigrp 120 md5
 ip authentication key-chain eigrp 120 KC-EDGE
 no shutdown
!
router eigrp 120
 network 10.225.166.0 0.0.0.3
 network 172.21.65.0 0.0.0.255
 no auto-summary
!
