! 自動生成(gen_l2_troubleshoot) 初期状態 (SW02)  seed=6158
vlan 62
 name DATA62
interface Vlan62
 description === DATA62 SVI (test) ===
 ip address 10.109.192.2 255.255.255.0
 no shutdown
interface Port-channel1
 description === bundle to SW01 ===
 switchport
 switchport mode access
 switchport access vlan 62
interface {{ links[0] }}
 description === to SW01 (member 1) ===
 switchport
 switchport mode access
 switchport access vlan 62
 channel-group 1 mode passive
 no shutdown
interface {{ links[1] }}
 description === to SW01 (member 2) ===
 switchport
 switchport mode access
 switchport access vlan 62
 channel-group 1 mode passive
 no shutdown
