! RT02
interface Loopback0
 ip address 32.32.32.32 255.255.255.255
!
interface Loopback1
 ip address 172.16.210.1 255.255.255.0
!
interface {{ links[1] }}
 ip address 10.75.60.1 255.255.255.252
 no shutdown
!
interface {{ links[0] }}
 ip address 10.103.24.2 255.255.255.252
 no shutdown
!
router bgp 64635
 bgp router-id 32.32.32.32
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 bgp bestpath compare-routerid
 neighbor 10.75.60.2 remote-as 65221
 neighbor 10.103.24.1 remote-as 65440
 address-family ipv4 unicast
  network 172.16.210.0 mask 255.255.255.0
  neighbor 10.75.60.2 activate
  neighbor 10.103.24.1 activate
 exit-address-family
!
ip prefix-list PL-ARCHIVE seq 5 permit 192.0.2.70/32
!
