! GEN-CHAIN-9200 初期 (RT04) — 連鎖故障TS(12台)。設計書は task.md
interface Loopback0
 ip address 98.98.98.98 255.255.255.255
!
interface {{ links[0] }}
 description === to RT01 ===
 ip address 10.177.161.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === to RT06 ===
 ip address 10.33.114.1 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 description === to RT12 ===
 ip address 10.137.71.1 255.255.255.252
 no shutdown
!
router ospf 1
 router-id 98.98.98.98
 network 98.98.98.98 0.0.0.0 area 0
 network 10.177.161.0 0.0.0.3 area 0
 network 10.33.114.0 0.0.0.3 area 0
 network 10.137.71.0 0.0.0.3 area 0
!
router bgp 65001
 bgp router-id 98.98.98.98
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 neighbor 60.60.60.60 remote-as 65001
 neighbor 60.60.60.60 update-source Loopback0
 neighbor 16.16.16.16 remote-as 65001
 neighbor 16.16.16.16 update-source Loopback0
 neighbor 11.11.11.11 remote-as 65001
 neighbor 11.11.11.11 update-source Loopback0
 neighbor 7.7.7.7 remote-as 65001
 neighbor 7.7.7.7 update-source Loopback0
 neighbor 14.14.14.14 remote-as 65001
 neighbor 14.14.14.14 update-source Loopback0
 neighbor 78.78.78.78 remote-as 65001
 neighbor 78.78.78.78 update-source Loopback0
 neighbor 9.9.9.9 remote-as 65001
 neighbor 9.9.9.9 update-source Loopback0
 neighbor 34.34.34.34 remote-as 65001
 neighbor 34.34.34.34 update-source Loopback0
 address-family ipv4
  neighbor 60.60.60.60 activate
  neighbor 60.60.60.60 send-community
  neighbor 60.60.60.60 route-reflector-client
  neighbor 16.16.16.16 activate
  neighbor 16.16.16.16 send-community
  neighbor 16.16.16.16 route-reflector-client
  neighbor 11.11.11.11 activate
  neighbor 11.11.11.11 send-community
  neighbor 11.11.11.11 route-reflector-client
  neighbor 7.7.7.7 activate
  neighbor 7.7.7.7 send-community
  neighbor 7.7.7.7 route-reflector-client
  neighbor 14.14.14.14 activate
  neighbor 14.14.14.14 send-community
  neighbor 14.14.14.14 route-reflector-client
  neighbor 78.78.78.78 activate
  neighbor 78.78.78.78 send-community
  neighbor 78.78.78.78 route-reflector-client
  neighbor 9.9.9.9 activate
  neighbor 9.9.9.9 send-community
  neighbor 34.34.34.34 activate
  neighbor 34.34.34.34 send-community
 exit-address-family
!
