! GEN-CHAIN-42769 初期 (RT03) — 連鎖故障TS(12台)。設計書は task.md
interface Loopback0
 ip address 12.12.12.12 255.255.255.255
!
interface {{ links[0] }}
 description === to RT01 ===
 ip address 10.76.212.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === to RT05 ===
 ip address 10.45.68.1 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 description === to RT12 ===
 ip address 10.25.150.1 255.255.255.252
 no shutdown
!
router ospf 1
 router-id 12.12.12.12
 network 12.12.12.12 0.0.0.0 area 0
 network 10.76.212.0 0.0.0.3 area 0
 network 10.45.68.0 0.0.0.3 area 0
 network 10.25.150.0 0.0.0.3 area 0
!
router bgp 65001
 bgp router-id 12.12.12.12
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 neighbor 1.1.1.1 remote-as 65001
 neighbor 1.1.1.1 update-source Loopback0
 neighbor 96.96.96.96 remote-as 65001
 neighbor 96.96.96.96 update-source Loopback0
 neighbor 74.74.74.74 remote-as 65001
 neighbor 74.74.74.74 update-source Loopback0
 neighbor 97.97.97.97 remote-as 65001
 neighbor 97.97.97.97 update-source Loopback0
 neighbor 90.90.90.90 remote-as 65001
 neighbor 90.90.90.90 update-source Loopback0
 neighbor 33.33.33.33 remote-as 65001
 neighbor 33.33.33.33 update-source Loopback0
 neighbor 82.82.82.82 remote-as 65001
 neighbor 82.82.82.82 update-source Loopback0
 neighbor 83.83.83.83 remote-as 65001
 neighbor 83.83.83.83 update-source Loopback0
 address-family ipv4
  neighbor 1.1.1.1 activate
  neighbor 1.1.1.1 send-community
  neighbor 1.1.1.1 route-reflector-client
  neighbor 96.96.96.96 activate
  neighbor 96.96.96.96 send-community
  neighbor 96.96.96.96 route-reflector-client
  neighbor 74.74.74.74 activate
  neighbor 74.74.74.74 send-community
  neighbor 74.74.74.74 route-reflector-client
  neighbor 97.97.97.97 activate
  neighbor 97.97.97.97 send-community
  neighbor 97.97.97.97 route-reflector-client
  neighbor 90.90.90.90 activate
  neighbor 90.90.90.90 send-community
  neighbor 90.90.90.90 route-reflector-client
  neighbor 33.33.33.33 activate
  neighbor 33.33.33.33 send-community
  neighbor 33.33.33.33 route-reflector-client
  neighbor 82.82.82.82 activate
  neighbor 82.82.82.82 send-community
  neighbor 83.83.83.83 activate
  neighbor 83.83.83.83 send-community
 exit-address-family
!
