! RT03
interface Loopback0
 ip address 44.44.44.44 255.255.255.255
!
interface Loopback1
 ip address 172.16.225.1 255.255.255.0
!
interface {{ links[1] }}
 ip address 10.88.67.1 255.255.255.252
 no shutdown
!
interface {{ links[0] }}
 ip address 10.126.252.2 255.255.255.252
 no shutdown
!
router bgp 65189
 bgp router-id 44.44.44.44
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 bgp bestpath compare-routerid
 neighbor 10.88.67.2 remote-as 65263
 neighbor 10.126.252.1 remote-as 65263
 address-family ipv4 unicast
  network 172.16.225.0 mask 255.255.255.0
  neighbor 10.88.67.2 activate
  neighbor 10.126.252.1 activate
 exit-address-family
!
