! RT04
interface Loopback0
 ip address 7.7.7.7 255.255.255.255
!
interface Loopback1
 ip address 172.16.70.1 255.255.255.0
!
interface {{ links[1] }}
 ip address 10.233.228.1 255.255.255.252
 no shutdown
!
interface {{ links[0] }}
 ip address 10.88.67.2 255.255.255.252
 no shutdown
!
router bgp 65263
 bgp router-id 7.7.7.7
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 bgp bestpath compare-routerid
 neighbor 10.233.228.2 remote-as 65349
 neighbor 10.88.67.1 remote-as 65189
 address-family ipv4 unicast
  network 172.16.70.0 mask 255.255.255.0
  neighbor 10.233.228.2 activate
  neighbor 10.88.67.1 activate
 exit-address-family
!
