! RT04 (role=leaf, AS=65001) 初期構成
interface Loopback0
 ip address 10.0.98.98 255.255.255.255
!
interface Loopback1
 ip address 192.0.2.1 255.255.255.0
!
interface {{ links[0] }}
 ip address 10.147.147.2 255.255.255.252
 ip ospf 1 area 0
 no shutdown
!
router ospf 1
 router-id 10.0.98.98
!
router bgp 65001
 bgp router-id 10.0.98.98
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 neighbor 10.0.36.36 remote-as 65001
 neighbor 10.0.36.36 update-source Loopback0
 address-family ipv4 unicast
  neighbor 10.0.36.36 activate
  neighbor 10.0.36.36 send-community
  network 192.0.2.0 mask 255.255.255.0
 exit-address-family
!
