! ENARSI-BGP-01 初期状態 (RT04, AS{{ params.as4 }}) : {{ params.rt04_lo }}/32 の発信元。BGP 構築済み(変更不要)。
! 値は params/<variant>.yml 由来。  links[0] = RT02 向け / links[1] = RT03 向け
interface Loopback0
 ip address {{ params.rt04_lo }} 255.255.255.255
!
interface {{ links[0] }}
 description === to RT02 (eBGP AS{{ params.as2 }}) ===
 ip address {{ params.seg24 }}.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === to RT03 (eBGP AS{{ params.as3 }}) ===
 ip address {{ params.seg34 }}.2 255.255.255.252
 no shutdown
!
router bgp {{ params.as4 }}
 bgp log-neighbor-changes
 neighbor {{ params.seg24 }}.1 remote-as {{ params.as2 }}
 neighbor {{ params.seg34 }}.1 remote-as {{ params.as3 }}
 network {{ params.rt04_lo }} mask 255.255.255.255
!
