! 自動生成(gen_stp) seed=18268 SW02
vtp mode transparent
vlan 110
 name DATA110
vlan 167
 name DATA167
vlan 245
 name DATA245
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
spanning-tree vlan 110 priority 28672
spanning-tree vlan 167 priority 24576
spanning-tree vlan 245 priority 24576
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 110,167,245
 spanning-tree guard loop
 spanning-tree bpdufilter enable
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 110,167,245
 spanning-tree guard loop
 no shutdown
!
interface {{ links[2] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 110,167,245
 spanning-tree guard root
 no shutdown
!
interface {{ links[3] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 110,167,245
 spanning-tree guard root
 no shutdown
!
interface GigabitEthernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan110
 ip address 10.198.110.2 255.255.255.0
 no shutdown
!
interface Vlan167
 ip address 10.198.167.2 255.255.255.0
 no shutdown
!
interface Vlan245
 ip address 10.198.245.2 255.255.255.0
 no shutdown
!
