! 自動生成(gen_stp) seed=18268 SW03
vtp mode transparent
vlan 110
 name DATA110
vlan 167
 name DATA167
vlan 245
 name DATA245
vlan 99
 name PARK
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 110,167,245
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 110,167,245
 no shutdown
!
interface {{ links[4] }}
 switchport mode access
 switchport access vlan 167
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface {{ links[5] }}
 switchport mode access
 switchport access vlan 99
 spanning-tree portfast
 spanning-tree bpduguard enable
 spanning-tree bpdufilter enable
 no shutdown
!
interface {{ links[6] }}
 switchport mode access
 switchport access vlan 110
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface {{ links[7] }}
 switchport mode access
 switchport access vlan 110
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface GigabitEthernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan110
 ip address 10.198.110.3 255.255.255.0
 no shutdown
!
interface Vlan167
 ip address 10.198.167.3 255.255.255.0
 no shutdown
!
interface Vlan245
 ip address 10.198.245.3 255.255.255.0
 no shutdown
!
