! _POC-V6REDIST 基線: C1(OSPFv3 ドメインのクライアント)。
ipv6 unicast-routing
ipv6 cef
!
interface Ethernet0/0
 description === to RA ===
 no ip address
 ipv6 address 2001:DB8:2:1::2/64
 ipv6 enable
 ipv6 ospf 544 area 0
 no shutdown
!
router ospfv3 544
 router-id 6.6.6.6
 !
 address-family ipv6 unicast
 exit-address-family
!
