! _POC-V6REDIST 基線: C2(EIGRP ドメインのクライアント)。
ipv6 unicast-routing
ipv6 cef
!
interface Ethernet0/0
 description === to RB ===
 no ip address
 ipv6 address 2001:DB8:1A:A::2/64
 no shutdown
!
router eigrp NAMED
 !
 address-family ipv6 unicast autonomous-system 5400
  !
  topology base
  exit-af-topology
  eigrp router-id 5.5.5.5
 exit-address-family
!
