! ENCOR-VRF-NAT-01 初期状態 (RT04 = BLUE 顧客サイト / 変更不可)
! 顧客ホスト 10.0.0.1/24 (RED と重複アドレス)。RT01(BLUE) へデフォルト。
interface Ethernet0/0
 description === to RT01 (BLUE) ===
 ip address 10.2.14.2 255.255.255.252
 no shutdown
!
interface Loopback0
 description === BLUE 顧客ホスト ===
 ip address 10.0.0.1 255.255.255.0
!
ip route 0.0.0.0 0.0.0.0 10.2.14.1
