! GEN-MPLSTS-7100 初期状態 (RT01 = PE / 変更対象)
vrf definition CUST_A
 rd 65000:100
 address-family ipv4
  route-target export 65000:100
  route-target import 65000:100
 exit-address-family
!
vrf definition CUST_B
 rd 65000:200
 address-family ipv4
  route-target export 65000:200
  route-target import 65000:200
 exit-address-family
!
interface Loopback0
 ip address 49.49.49.49 255.255.255.255
!
interface Loopback9
 description === local mgmt (IGP/LDP 対象外) ===
 ip address 10.255.1.1 255.255.255.255
!
interface {{ links[0] }}
 description === to RT04 (10.18.78.0/30) ===
 ip address 10.18.78.1 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[1] }}
 description === to RT07 CUST_A-CE (site1, 192.168.232.0/30) ===
 vrf forwarding CUST_A
 ip address 192.168.232.2 255.255.255.252
 ip tcp adjust-mss 1452
 no shutdown
!
interface {{ links[2] }}
 description === to RT08 CUST_B-CE (site1, 192.168.150.0/30) ===
 vrf forwarding CUST_B
 ip address 192.168.150.2 255.255.255.252
 ip tcp adjust-mss 1452
 no shutdown
!
mpls ldp router-id Loopback0 force
!
router ospf 1
 router-id 49.49.49.49
 network 49.49.49.49 0.0.0.0 area 0
 network 10.18.78.0 0.0.0.3 area 0
!
router ospf 10 vrf CUST_A
 router-id 49.49.49.49
 redistribute bgp 65000 subnets
 network 192.168.232.0 0.0.0.3 area 0
!
router ospf 20 vrf CUST_B
 router-id 49.49.49.49
 network 192.168.150.0 0.0.0.3 area 0
!
ip prefix-list PL-CUST-LAN seq 5 permit 172.16.0.0/16 le 24
route-map RM-OSPF2VPN permit 10
 match ip address prefix-list PL-CUST-LAN
!
router bgp 65000
 bgp router-id 49.49.49.49
 no bgp default ipv4-unicast
 neighbor 75.75.75.75 remote-as 65000
 neighbor 75.75.75.75 update-source Loopback0
 neighbor 10.86.114.1 remote-as 65000
 address-family vpnv4
  neighbor 75.75.75.75 activate
  neighbor 10.86.114.1 activate
 exit-address-family
 address-family ipv4 vrf CUST_A
  redistribute ospf 10 route-map RM-OSPF2VPN
 exit-address-family
 address-family ipv4 vrf CUST_B
  redistribute ospf 20 route-map RM-OSPF2VPN
 exit-address-family
!
