! GEN-MPLSTS-7100 初期状態 (RT04 = P / 変更対象)
interface Loopback0
 ip address 91.91.91.91 255.255.255.255
!
interface Loopback9
 description === local mgmt (IGP/LDP 対象外) ===
 ip address 10.255.4.1 255.255.255.255
!
interface {{ links[0] }}
 description === to RT01 (10.18.78.0/30) ===
 ip address 10.18.78.2 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[1] }}
 description === to RT05 (10.34.143.0/30) ===
 ip address 10.34.143.1 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[2] }}
 description === to RT06 (10.24.172.0/30) ===
 ip address 10.24.172.1 255.255.255.252
 mpls ip
 no shutdown
!
mpls ldp router-id Loopback0 force
!
router ospf 1
 router-id 91.91.91.91
 network 91.91.91.91 0.0.0.0 area 0
 network 10.18.78.0 0.0.0.3 area 0
 network 10.34.143.0 0.0.0.3 area 0
 network 10.24.172.0 0.0.0.3 area 0
!
