! GEN-MPLSTS-7100 初期状態 (RT05 = P / 変更対象)
interface Loopback0
 ip address 89.89.89.89 255.255.255.255
!
interface Loopback9
 description === local mgmt (IGP/LDP 対象外) ===
 ip address 10.255.5.1 255.255.255.255
!
interface {{ links[0] }}
 description === to RT02 (10.118.243.0/30) ===
 ip address 10.118.243.2 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[1] }}
 description === to RT04 (10.34.143.0/30) ===
 ip address 10.34.143.2 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[2] }}
 description === to RT06 (10.56.22.0/30) ===
 ip address 10.56.22.1 255.255.255.252
 mpls ip
 ip ospf cost 100
 no shutdown
!
mpls ldp router-id Loopback0 force
!
router ospf 1
 router-id 89.89.89.89
 network 89.89.89.89 0.0.0.0 area 0
 network 10.118.243.0 0.0.0.3 area 0
 network 10.34.143.0 0.0.0.3 area 0
 network 10.56.22.0 0.0.0.3 area 0
!
