! RT02 (AS 65158)
interface Loopback0
 ip address 52.52.52.52 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.97.74.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address 10.149.3.1 255.255.255.252
 no shutdown
!
router bgp 65158
 bgp router-id 52.52.52.52
 no bgp default ipv4-unicast
 bgp bestpath compare-routerid
 neighbor 10.97.74.1 remote-as 64685
 neighbor 10.149.3.2 remote-as 65325
 address-family ipv4 unicast
  neighbor 10.97.74.1 activate
  neighbor 10.149.3.2 activate
  network 52.52.52.52 mask 255.255.255.255
 exit-address-family
!
