! GEN-CHAIN-9500 初期 (RT10) — 連鎖故障TS(12台)。設計書は task.md
interface Loopback0
 ip address 63.63.63.63 255.255.255.255
!
interface Loopback10
 description === West User LAN ===
 ip address 172.20.0.1 255.255.255.0
 ip ospf network point-to-point
!
interface Loopback11
 description === West User LAN ===
 ip address 172.20.1.1 255.255.255.0
 ip ospf network point-to-point
!
interface {{ links[0] }}
 description === to RT11 ===
 ip address 10.84.236.1 255.255.255.252
 no shutdown
!
router ospf 1
 router-id 63.63.63.63
 area 1 stub
 network 63.63.63.63 0.0.0.0 area 1
 network 172.20.0.0 0.0.0.255 area 1
 network 172.20.1.0 0.0.0.255 area 1
 network 10.84.236.0 0.0.0.3 area 1
!
