! RT02 (支店1)
interface Loopback1
 ip address 10.77.2.1 255.255.255.0
!
interface {{ links[0] }}
 description === to ISP ===
 ip address 198.51.100.2 255.255.255.252
 no shutdown
!
ip route 0.0.0.0 0.0.0.0 198.51.100.1
!
crypto isakmp policy 10
 encryption aes 256
 hash sha256
 authentication pre-share
 group 14
!
crypto ipsec transform-set Ts_aEs256_Sha2.v4 esp-aes 256 esp-sha256-hmac
 mode transport
!
crypto ipsec profile ip5Ec_PR0F_DMvpn4
 set transform-set Ts_aEs256_Sha2.v4
!
crypto ipsec transform-set ts_aes256_sha2.v4 esp-aes esp-sha-hmac
 mode tunnel
!
crypto ipsec profile ip5Ec_PR0F_DMvpn4-OLD
 set transform-set ts_aes256_sha2.v4
 set pfs group14
!
crypto ipsec profile ip5Ec_PR0F_DMvpn0
 set transform-set Ts_aEs256_Sha2.v4
 set security-association lifetime seconds 3600
!
ip access-list extended Sec_edge-In.v7-OLD
 permit udp any any eq isakmp
 permit esp any any
 permit gre any any
 permit icmp any any
 permit ip any any
!
interface Tunnel0
 ip address 172.23.114.2 255.255.255.0
 no ip redirects
 ip mtu 1400
 ip tcp adjust-mss 1360
 ip nhrp authentication nhRP-K42
 ip nhrp network-id 277
 ip nhrp nhs 172.23.114.1 nbma 203.0.113.2 multicast
 ip nhrp shortcut
 tunnel source {{ links[0] }}
 tunnel mode gre multipoint
 tunnel protection ipsec profile ip5Ec_PR0F_DMvpn4
!
router eigrp 477
 network 172.23.114.0 0.0.0.255
 network 10.77.2.0 0.0.0.255
!
