! ENCOR-OSPF-STUB-01 初期状態 (RT01 = ASBR, area 0)
!   links[0] = RT02 向け
!   外部経路の発信源: static 192.0.2.0/24 を OSPF へ redistribute
interface Loopback0
 ip address 1.1.1.1 255.255.255.255
!
interface {{ links[0] }}
 description === to RT02 (area 0) ===
 ip address 10.0.12.1 255.255.255.252
 no shutdown
!
ip route 192.0.2.0 255.255.255.0 Null0
!
router ospf 1
 router-id 1.1.1.1
 redistribute static subnets
 network 1.1.1.1 0.0.0.0 area 0
 network 10.0.12.0 0.0.0.3 area 0
!
