! 自動生成(gen_stp) seed=23408 SW01
vtp mode transparent
vlan 149
 name DATA149
vlan 217
 name DATA217
vlan 231
 name DATA231
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 149,217,231
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 149,217,231
 no shutdown
!
interface {{ links[2] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 149,217,231
 no shutdown
!
interface {{ links[3] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 149,217,231
 no shutdown
!
interface Ethernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan149
 ip address 10.157.149.1 255.255.255.0
 no shutdown
!
interface Vlan217
 ip address 10.157.217.1 255.255.255.0
 no shutdown
!
interface Vlan231
 ip address 10.157.231.1 255.255.255.0
 no shutdown
!
