! RT01 (role=g, eigrp=named) 初期構成 (AS 100)
ip access-list extended BLOCK-EIGRP
 deny eigrp any any
 permit ip any any
!
interface Loopback0
 ip address 10.27.27.27 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.191.191.2 255.255.255.252
 ip access-group BLOCK-EIGRP in
 no shutdown
!
router eigrp CCNP
 address-family ipv4 unicast autonomous-system 100
  af-interface Loopback0
   passive-interface
  exit-af-interface
  eigrp router-id 10.27.27.27
  network 10.27.27.27 0.0.0.0
  network 10.191.191.0 0.0.0.3
 exit-address-family
!
