! RT07 (role=f, eigrp=named) 初期構成 (AS 100)
interface Loopback0
 ip address 10.22.22.22 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.160.160.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address 10.191.191.1 255.255.255.252
 no shutdown
!
router eigrp CCNP
 address-family ipv4 unicast autonomous-system 100
  af-interface Loopback0
   passive-interface
  exit-af-interface
  eigrp router-id 10.22.22.22
  network 10.22.22.22 0.0.0.0
  network 10.160.160.0 0.0.0.3
  network 10.191.191.0 0.0.0.3
 exit-address-family
!
