! ENCOR-LAG-01 初期状態 (SW02)
!   links[0] / links[1] = いずれも SW01 向け
interface {{ links[0] }}
 description === to SW01 (member 1) ===
 no shutdown
!
interface {{ links[1] }}
 description === to SW01 (member 2) ===
 no shutdown
!
