! 自動生成(gen_stp) seed=92480 SW02
vtp mode transparent
vlan 52
 name DATA52
vlan 101
 name DATA101
vlan 229
 name DATA229
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 52,101,229
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 52,101,229
 no shutdown
!
interface {{ links[2] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 52,101,229
 no shutdown
!
interface {{ links[3] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 52,101,229
 no shutdown
!
interface GigabitEthernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan52
 ip address 10.171.52.2 255.255.255.0
 no shutdown
!
interface Vlan101
 ip address 10.171.101.2 255.255.255.0
 no shutdown
!
interface Vlan229
 ip address 10.171.229.2 255.255.255.0
 no shutdown
!
