! 自動生成(gen_stp) seed=92480 SW04
vtp mode transparent
vlan 52
 name DATA52
vlan 101
 name DATA101
vlan 229
 name DATA229
vlan 99
 name PARK
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 52,101,229
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 52,101,229
 no shutdown
!
interface {{ links[4] }}
 switchport mode access
 switchport access vlan 229
 no shutdown
!
interface {{ links[5] }}
 switchport mode access
 switchport access vlan 101
 no shutdown
!
interface {{ links[6] }}
 switchport mode access
 switchport access vlan 229
 no shutdown
!
interface {{ links[7] }}
 switchport mode access
 switchport access vlan 52
 no shutdown
!
interface GigabitEthernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan52
 ip address 10.171.52.4 255.255.255.0
 no shutdown
!
interface Vlan101
 ip address 10.171.101.4 255.255.255.0
 no shutdown
!
interface Vlan229
 ip address 10.171.229.4 255.255.255.0
 no shutdown
!
