! 自動生成(gen_l2_troubleshoot) 初期状態 (SW01)  seed=88482
vlan 148
 name DATA148
vlan 167
 name BOGUS167
interface Vlan148
 description === DATA148 SVI (test) ===
 ip address 10.69.89.1 255.255.255.0
 no shutdown
interface Port-channel1
 description === bundle to SW02 ===
 switchport
 switchport mode access
 switchport access vlan 167
interface {{ links[0] }}
 description === to SW02 (member 1) ===
 switchport
 switchport mode access
 switchport access vlan 167
 channel-group 1 mode on
 no shutdown
interface {{ links[1] }}
 description === to SW02 (member 2) ===
 switchport
 switchport mode access
 switchport access vlan 167
 channel-group 1 mode on
 no shutdown
