! ENCOR-OSPF-01 初期状態 (RT01)。値は params/<variant>.yml 由来。OSPF は受験者が解く。
!   links[0] = RT02 向け / links[1] = RT03 向け
interface Loopback0
 ip address {{ params.rt01_lo }} 255.255.255.255
!
interface {{ links[0] }}
 description === to RT02 ===
 ip address {{ params.seg12 }}.1 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === to RT03 ===
 ip address {{ params.seg13 }}.1 255.255.255.252
 no shutdown
!
