! ENARSI-REDIST-LOOP-01 初期 RT01 (OSPF 内部・変更不可)
interface Loopback0
 ip address {{ params.rt01_lo }} 255.255.255.255
!
interface {{ links[0] }}
 ip address {{ params.seg12 }}.1 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address {{ params.seg13 }}.1 255.255.255.252
 no shutdown
!
router ospf 1
 network {{ params.rt01_lo }} 0.0.0.0 area 0
 network {{ params.seg12 }}.0 0.0.0.3 area 0
 network {{ params.seg13 }}.0 0.0.0.3 area 0
!
