! RT02 (role=hub, AS=65001) 初期構成
interface Loopback0
 ip address 10.0.91.91 255.255.255.255
 ip ospf 1 area 0
!
interface {{ links[0] }}
 ip address 10.143.143.1 255.255.255.252
 ip ospf 1 area 0
 no shutdown
!
interface {{ links[1] }}
 ip address 10.131.131.1 255.255.255.252
 ip ospf 1 area 0
 no shutdown
!
interface {{ links[2] }}
 ip address 10.117.117.1 255.255.255.252
 ip ospf 1 area 0
 no shutdown
!
router ospf 1
 router-id 10.0.91.91
!
router bgp 65001
 bgp router-id 10.0.91.91
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 neighbor 10.0.32.32 remote-as 65001
 neighbor 10.0.32.32 update-source Loopback0
 neighbor 10.0.96.96 remote-as 65001
 neighbor 10.0.96.96 update-source Loopback0
 neighbor 10.0.6.6 remote-as 65001
 neighbor 10.0.6.6 update-source Loopback0
 address-family ipv4 unicast
  neighbor 10.0.32.32 activate
  neighbor 10.0.32.32 send-community
  neighbor 10.0.32.32 route-reflector-client
  neighbor 10.0.96.96 activate
  neighbor 10.0.96.96 send-community
  neighbor 10.0.96.96 route-reflector-client
  neighbor 10.0.6.6 activate
  neighbor 10.0.6.6 send-community
  neighbor 10.0.6.6 route-reflector-client
 exit-address-family
!
! --- SNMPv3 (NOC 監視標準) ---
snmp-server view MONVIEW iso included
snmp-server group MONGRP v3 priv read MONVIEW
snmp-server location CCNP-LAB
snmp-server user MONUSER MONGRP v3 auth sha CCNP-Auth-2026 priv aes 128 CCNP-Priv-2026
!
