! RT04 (role=leaf, AS=65001) 初期構成
interface Loopback0
 ip address 10.0.6.6 255.255.255.255
 ip ospf 1 area 0
!
interface Loopback1
 ip address 192.0.2.1 255.255.255.0
!
interface {{ links[0] }}
 ip address 10.117.117.2 255.255.255.252
 ip ospf 1 area 0
 no shutdown
!
interface {{ links[1] }}
 description === to ZBX01(poller) ===
 ip address 10.99.0.1 255.255.255.248
 ip ospf 1 area 0
 no shutdown
!
router ospf 1
 router-id 10.0.6.6
!
router bgp 65001
 bgp router-id 10.0.6.6
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 neighbor 10.0.91.91 remote-as 65001
 neighbor 10.0.91.91 update-source Loopback0
 address-family ipv4 unicast
  neighbor 10.0.91.91 activate
  neighbor 10.0.91.91 send-community
  network 192.0.2.0 mask 255.255.255.0
  network 10.99.0.0 mask 255.255.255.248
 exit-address-family
!
! --- SNMPv3 (NOC 監視標準) ---
snmp-server view MONVIEW iso included
snmp-server group MONGRP v3 priv read MONVIEW
snmp-server location CCNP-LAB
snmp-server user MONUSER MONGRP v3 auth sha CCNP-Auth-2026 priv aes 128 CCNP-Priv-2026
!
