! RT03
interface Loopback0
 ip address 80.80.80.80 255.255.255.255
!
interface Loopback1
 ip address 172.16.130.1 255.255.255.0
!
interface {{ links[1] }}
 ip address 10.93.65.1 255.255.255.252
 no shutdown
!
interface {{ links[0] }}
 ip address 10.131.214.2 255.255.255.252
 no shutdown
!
router bgp 65285
 bgp router-id 80.80.80.80
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 bgp bestpath compare-routerid
 neighbor 10.93.65.2 remote-as 64981
 neighbor 10.131.214.1 remote-as 64990
 address-family ipv4 unicast
  network 172.16.130.0 mask 255.255.255.0
  neighbor 10.93.65.2 activate
  neighbor 10.131.214.1 activate
 exit-address-family
!
