! RT04
interface Loopback0
 ip address 43.43.43.43 255.255.255.255
!
interface Loopback1
 ip address 172.16.72.1 255.255.255.0
!
interface {{ links[1] }}
 ip address 10.31.62.1 255.255.255.252
 no shutdown
!
interface {{ links[0] }}
 ip address 10.93.65.2 255.255.255.252
 no shutdown
!
router bgp 64981
 bgp router-id 43.43.43.43
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 bgp bestpath compare-routerid
 neighbor 10.31.62.2 remote-as 64512
 neighbor 10.93.65.1 remote-as 65285
 address-family ipv4 unicast
  network 172.16.72.0 mask 255.255.255.0
  neighbor 10.31.62.2 activate
  neighbor 10.93.65.1 activate
 exit-address-family
!
