! four_as 基線: RT01 = AS65001
interface Loopback0
 ip address 1.1.1.1 255.255.255.255
!
interface Loopback1
 ip address 172.16.1.1 255.255.255.0
!
interface {{ links[0] }}
 description === to RT02 ===
 ip address 10.0.12.1 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === to RT04 ===
 ip address 10.0.41.2 255.255.255.252
 no shutdown
!
router bgp 65001
 bgp router-id 1.1.1.1
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 neighbor 10.0.12.2 remote-as 65002
 neighbor 10.0.41.1 remote-as 65004
 address-family ipv4 unicast
  network 172.16.1.0 mask 255.255.255.0
  neighbor 10.0.12.2 activate
  neighbor 10.0.41.1 activate
 exit-address-family
!
