! RT03
interface Loopback0
 ip address 45.45.45.45 255.255.255.255
!
interface Loopback1
 ip address 172.16.97.1 255.255.255.0
!
interface {{ links[1] }}
 ip address 10.240.15.1 255.255.255.252
 no shutdown
!
interface {{ links[0] }}
 ip address 10.68.199.2 255.255.255.252
 no shutdown
!
router bgp 64633
 bgp router-id 45.45.45.45
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 bgp bestpath compare-routerid
 neighbor 10.240.15.2 remote-as 65082
 neighbor 10.68.199.1 remote-as 64713
 address-family ipv4 unicast
  network 172.16.97.0 mask 255.255.255.0
  neighbor 10.240.15.2 activate
  neighbor 10.68.199.1 activate
 exit-address-family
!
