interface Loopback0
 ip address 10.3.3.3 255.255.255.255
!
interface {{ links[0] }}
 description === to RT01 ===
 ip address 10.13.13.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === to RT04 ===
 ip address 10.34.34.1 255.255.255.252
 no shutdown
!
router eigrp SIA
 address-family ipv4 unicast autonomous-system 100
  af-interface Loopback0
   passive-interface
  exit-af-interface
  eigrp router-id 10.3.3.3
  network 10.3.3.3 0.0.0.0
  network 10.13.13.0 0.0.0.3
  network 10.34.34.0 0.0.0.3
 exit-address-family
!
