interface Loopback0
 description === T (target) ===
 ip address 10.100.100.100 255.255.255.255
!
interface Loopback1
 ip address 10.4.4.4 255.255.255.255
!
interface {{ links[0] }}
 description === to RT03 ===
 ip address 10.34.34.2 255.255.255.252
 no shutdown
!
router eigrp SIA
 address-family ipv4 unicast autonomous-system 100
  af-interface Loopback0
   passive-interface
  exit-af-interface
  af-interface Loopback1
   passive-interface
  exit-af-interface
  eigrp router-id 10.100.100.100
  network 10.100.100.100 0.0.0.0
  network 10.4.4.4 0.0.0.0
  network 10.34.34.0 0.0.0.3
 exit-address-family
!
