! _POC-STP SW01 : VLAN10 root(4096) / VLAN20 secondary(8192)
vtp mode transparent
vlan 10
 name POC-A
vlan 20
 name POC-B
!
spanning-tree mode rapid-pvst
spanning-tree vlan 10 priority 4096
spanning-tree vlan 20 priority 8192
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 no shutdown
!
interface Vlan10
 ip address 10.76.10.1 255.255.255.0
 no shutdown
