! _POC-STP SW02 : VLAN20 root(4096) / VLAN10 secondary(8192) / Et0/2 bpduguard(発火実験)
vtp mode transparent
vlan 10
 name POC-A
vlan 20
 name POC-B
!
spanning-tree mode rapid-pvst
spanning-tree vlan 20 priority 4096
spanning-tree vlan 10 priority 8192
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 no shutdown
!
interface {{ links[2] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 spanning-tree bpduguard enable
 no shutdown
!
interface Vlan10
 ip address 10.76.10.2 255.255.255.0
 no shutdown
