! _POC-STP SW03 : priority 既定(32768) → 各VLANの ALTN(Blocking) がここに出る想定
!   予測: VLAN10 → Et0/1(SW02側) が ALTN / VLAN20 → Et0/0(SW01側) が ALTN
vtp mode transparent
vlan 10
 name POC-A
vlan 20
 name POC-B
!
spanning-tree mode rapid-pvst
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 no shutdown
!
interface {{ links[2] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 no shutdown
!
interface Vlan10
 ip address 10.76.10.3 255.255.255.0
 no shutdown
