! RT01
interface Loopback0
 ip address 83.83.83.83 255.255.255.255
!
interface Loopback1
 ip address 172.16.23.1 255.255.255.0
!
interface {{ links[0] }}
 ip address 10.68.103.1 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address 10.149.53.2 255.255.255.252
 no shutdown
!
router bgp 65047
 bgp router-id 83.83.83.83
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 bgp bestpath compare-routerid
 neighbor 10.68.103.2 remote-as 65029
 neighbor 10.149.53.1 remote-as 64648
 address-family ipv4 unicast
  network 172.16.23.0 mask 255.255.255.0
  neighbor 10.68.103.2 activate
  neighbor 10.149.53.1 activate
 exit-address-family
!
ip prefix-list PL-ARCHIVE seq 5 permit 192.0.2.223/32
!
