! ENCOR-AUTO-OSPF-FILL-01 初期状態 (RT01)。IP は設定済み・OSPF は受験者が Ansible で構成する。
!   links[0] = RT02 向け / links[1] = RT03 向け
interface Loopback0
 ip address {{ params.rt01_lo }} 255.255.255.255
!
interface {{ links[0] }}
 description === to RT02 ===
 ip address {{ params.seg12 }}.1 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === to RT03 ===
 ip address {{ params.seg13 }}.1 255.255.255.252
 no shutdown
!
