! GEN-REDISTMP 初期 RF : RIPv2 サイト(被害プレフィクスの起点)＋RIP→EIGRP 再配送
interface Loopback0
! 顧客 LAN の模擬(RIPv2 ドメイン)
 ip address {{ params.p_net }}.6 255.255.255.0
!
interface {{ links[0] }}
 ip address {{ params.seg_e41 }}.6 255.255.255.0
 no shutdown
!
router eigrp {{ params.asn }}
 network {{ params.seg_e41 }}.0 0.0.0.255
 redistribute rip metric 1000000 1 255 1 1500
!
router rip
 version 2
 no auto-summary
 network {{ params.p_net }}.0
!
