! GEN-CHAIN-6190 初期 (RT11) — 連鎖故障TS(12台)。設計書は task.md
interface Loopback0
 ip address 43.43.43.43 255.255.255.255
!
interface {{ links[0] }}
 description === to RT10 ===
 ip address 10.228.13.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === to RT01 ===
 ip address 10.172.4.1 255.255.255.252
 no shutdown
!
router ospf 1
 router-id 43.43.43.43
 area 1 stub
 network 43.43.43.43 0.0.0.0 area 1
 network 10.228.13.0 0.0.0.3 area 1
 network 10.172.4.0 0.0.0.3 area 1
!
