! RT02 初期状態 (EIGRP×VRF TS・昨夜の収容作業直後の状態)
key chain KC-A
 key 6
  key-string Ten3095Key
!
vrf definition TENANT-A
 rd 65000:310
 address-family ipv4
 exit-address-family
!
vrf definition TENANT-B
 rd 65000:220
 address-family ipv4
 exit-address-family
!
interface {{ links[0] }}
 vrf forwarding TENANT-A
 ip address 10.162.213.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 vrf forwarding TENANT-A
 ip address 10.162.214.2 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 vrf forwarding TENANT-B
 ip address 10.162.215.2 255.255.255.252
 no shutdown
!
router eigrp AGGR01
 address-family ipv4 unicast vrf TENANT-A autonomous-system 310
  af-interface Ethernet0/0
   authentication mode md5
   authentication key-chain KC-A
   passive-interface
   summary-address 172.19.200.0 255.255.254.0
  exit-af-interface
  af-interface Ethernet0/1
   authentication mode md5
   authentication key-chain KC-A
  exit-af-interface
  network 10.162.213.0 0.0.0.3
  network 10.162.214.0 0.0.0.3
 exit-address-family
 address-family ipv4 unicast vrf TENANT-B autonomous-system 220
  network 10.162.215.0 0.0.0.3
 exit-address-family
!
