! ENCOR-WANHA-01 初期 (RT03, Transit-B / backup) : 中継のみ(変更禁止)。
! links[0]=RT01(HQ) / links[1]=RT04(Branch)
interface Loopback0
 ip address 3.3.3.3 255.255.255.255
!
interface {{ links[0] }}
 description === to RT01 (HQ) ===
 ip address 10.0.13.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === to RT04 (Branch) ===
 ip address 10.0.34.1 255.255.255.252
 no shutdown
!
