! RT01 初期状態 (DHCPv6 サーバ・先般 IPv6 自動アドレッシングの導入/変更作業を実施した直後)
ipv6 unicast-routing
ipv6 cef
!
interface Loopback0
 ipv6 address 2001:DB8:5f:1::1/128
!
ipv6 dhcp pool POOL-A
 address prefix 2001:DB8:5f:A::/64
 dns-server 2001:DB8:5f:1::53
 domain-name acme.test
!
ipv6 dhcp pool POOL-B
 address prefix 2001:DB8:5f:B::/64
 dns-server 2001:DB8:5f:1::53
 domain-name acme.test
!
interface {{ links[0] }}
 description === to RT02 (core) ===
 ipv6 address 2001:DB8:5f:12::1/64
 no shutdown
 ipv6 dhcp server
!
ipv6 route 2001:DB8:5f:A::/64 2001:DB8:5f:12::2
ipv6 route 2001:DB8:5f:B::/64 2001:DB8:5f:12::2
!
