! RT01 初期構成 (相互再配送 RIP⇄OSPF TS・故障注入済)
interface Loopback0
 ip address 36.36.36.36 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.72.141.1 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address 10.144.100.1 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 ip address 10.95.215.1 255.255.255.252
 no shutdown
!
router rip
 version 2
 network 10.0.0.0
 network 36.0.0.0
 no auto-summary
!
