! ENARSI-MPLS-L3VPN-01 初期状態 (RT04 = CUST_A CE1 / 変更不可)
!   links[0] = RT01(PE1)。サイト LAN = Loopback0。PE へのデフォルトルートのみ。
interface Loopback0
 description === CUST_A site1 LAN (172.16.1.0/24) ===
 ip address 172.16.1.1 255.255.255.0
!
interface {{ links[0] }}
 description === to RT01 PE1 (192.168.1.0/30) ===
 ip address 192.168.1.1 255.255.255.252
 no shutdown
!
ip route 0.0.0.0 0.0.0.0 192.168.1.2
!
