! ENARSI-MPLS-L3VPN-01 初期状態 (RT05 = CUST_A CE2 / 変更不可)
!   links[0] = RT03(PE2)。サイト LAN = Loopback0。PE へのデフォルトルートのみ。
interface Loopback0
 description === CUST_A site2 LAN (172.16.2.0/24) ===
 ip address 172.16.2.1 255.255.255.0
!
interface {{ links[0] }}
 description === to RT03 PE2 (192.168.2.0/30) ===
 ip address 192.168.2.1 255.255.255.252
 no shutdown
!
ip route 0.0.0.0 0.0.0.0 192.168.2.2
!
