! ENARSI-MPLS-L3VPN-01 初期状態 (RT06 = CUST_B CE1 / 変更不可)
!   links[0] = RT01(PE1)。サイト LAN = Loopback0 (CUST_A と同一 /24・ホスト部 .9)。
interface Loopback0
 description === CUST_B site1 LAN (172.16.1.0/24) ===
 ip address 172.16.1.9 255.255.255.0
!
interface {{ links[0] }}
 description === to RT01 PE1 (192.168.11.0/30) ===
 ip address 192.168.11.1 255.255.255.252
 no shutdown
!
ip route 0.0.0.0 0.0.0.0 192.168.11.2
!
