! RT02 初期状態 (EIGRP×VRF TS・昨夜の収容作業直後の状態)
key chain KC-DC1
 key 7
  key-string Ten4016Key
!
vrf definition TENANT-A
 rd 65000:110
 address-family ipv4
 exit-address-family
!
vrf definition TENANT-B
 rd 65000:200
 address-family ipv4
 exit-address-family
!
interface {{ links[0] }}
 vrf forwarding TENANT-A
 ip address 10.204.140.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 vrf forwarding TENANT-A
 ip address 10.204.141.2 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 vrf forwarding TENANT-B
 ip address 10.204.142.2 255.255.255.252
 no shutdown
!
router eigrp CORPNET
 address-family ipv4 unicast vrf TENANT-A autonomous-system 110
  af-interface Ethernet0/0
   summary-address 172.31.178.0 255.255.254.0
  exit-af-interface
  af-interface Ethernet0/1
   authentication mode md5
   authentication key-chain KC-DC1
  exit-af-interface
  network 10.204.140.0 0.0.0.3
  network 10.204.141.0 0.0.0.3
 exit-address-family
 address-family ipv4 unicast vrf TENANT-B autonomous-system 200
  network 10.204.142.0 0.0.0.3
 exit-address-family
!
