! RT04 初期状態 (テナントA site2 CE・設定済/変更禁止)
key chain KC-DC1
 key 7
  key-string Ten4016Key
!
interface Loopback1
 ip address 172.31.157.1 255.255.255.0
!
interface {{ links[0] }}
 ip address 10.204.141.1 255.255.255.252
 ip authentication mode eigrp 110 md5
 ip authentication key-chain eigrp 110 KC-DC1
 no shutdown
!
router eigrp 110
 network 10.204.141.0 0.0.0.3
 network 172.31.157.0 0.0.0.255
 no auto-summary
!
