! _POC-STP4 SW02(DS2): VLAN20 root 4096 / VLAN10 8192
vtp mode transparent
vlan 10
 name DATA-A
vlan 20
 name DATA-B
vlan 99
 name PARK
!
spanning-tree mode rapid-pvst
spanning-tree vlan 20 priority 4096
spanning-tree vlan 10 priority 8192
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 10,20
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 10,20
 no shutdown
!
interface {{ links[2] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 10,20
 no shutdown
!
interface {{ links[3] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 10,20
 no shutdown
!
interface Ethernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan10
 ip address 10.76.10.2 255.255.255.0
 no shutdown
!
interface Vlan20
 ip address 10.76.20.2 255.255.255.0
 no shutdown
