! _POC-STP4 SW03(AS1): 既定 priority / links[2]=監査ポート(access 10・portfast+bpduguard・shut)
vtp mode transparent
vlan 10
 name DATA-A
vlan 20
 name DATA-B
vlan 99
 name PARK
!
spanning-tree mode rapid-pvst
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 10,20
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 10,20
 no shutdown
!
interface {{ links[2] }}
 switchport mode access
 switchport access vlan 10
 spanning-tree portfast
 spanning-tree bpduguard enable
 shutdown
!
interface Ethernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan10
 ip address 10.76.10.3 255.255.255.0
 no shutdown
!
interface Vlan20
 ip address 10.76.20.3 255.255.255.0
 no shutdown
