! 自動生成(gen_stp --world 3tier) seed=74964 SW04 = 分配 DS2
vtp mode transparent
vlan 14
 name DATA14
vlan 16
 name DATA16
vlan 83
 name DATA83
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
spanning-tree pathcost method long
spanning-tree loopguard default
spanning-tree vlan 14 priority 36864
spanning-tree vlan 83 priority 36864
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 14,16,83
 spanning-tree vlan 83 cost 60000
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 14,16,83
 no shutdown
!
interface {{ links[2] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 14,16,83
 no shutdown
!
interface {{ links[3] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 14,16,83
 spanning-tree guard root
 no shutdown
!
interface {{ links[4] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 14,83
 spanning-tree guard root
 no shutdown
!
interface GigabitEthernet3/3
 spanning-tree bpdufilter enable
!
