! 自動生成(gen_stp --world mst) seed=5937 SW01
vtp mode transparent
vlan 21
 name DATA21
vlan 84
 name DATA84
vlan 198
 name DATA198
!
spanning-tree mst configuration
 name BLDG-A
 revision 9
 instance 1 vlan 84,198
 instance 2 vlan 21
 exit
!
spanning-tree mst 0 priority 28672
spanning-tree mst 1 priority 28672
spanning-tree mst 2 priority 24576
spanning-tree mode mst
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 21,84,198
 spanning-tree guard loop
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 21,84,198
 spanning-tree guard loop
 spanning-tree mst 2 port-priority 64
 no shutdown
!
interface {{ links[2] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 21,84,198
 spanning-tree guard root
 no shutdown
!
interface {{ links[3] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 21,84,198
 spanning-tree guard root
 no shutdown
!
interface Ethernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan21
 ip address 10.39.21.1 255.255.255.0
 no shutdown
!
interface Vlan84
 ip address 10.39.84.1 255.255.255.0
 no shutdown
!
interface Vlan198
 ip address 10.39.198.1 255.255.255.0
 no shutdown
!
