! GEN-REDISTMP 初期 RA : OSPF area0 内部(両境界へのハブ)
interface Loopback0
 ip address {{ params.ra_lo }} 255.255.255.255
!
interface {{ links[0] }}
 ip address {{ params.seg_o1 }}.1 255.255.255.0
 no shutdown
!
interface {{ links[1] }}
 ip address {{ params.seg_o2 }}.1 255.255.255.0
 no shutdown
!
router ospf {{ params.pid }}
 router-id {{ params.ra_lo }}
 network {{ params.ra_lo }} 0.0.0.0 area 0
 network {{ params.seg_o1 }}.0 0.0.0.255 area 0
 network {{ params.seg_o2 }}.0 0.0.0.255 area 0
!
