! RT01 初期構成 (相互再配送 RIP⇄OSPF TS・故障注入済)
interface Loopback0
 ip address 75.75.75.75 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.13.169.1 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address 10.129.54.1 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 ip address 10.155.56.1 255.255.255.252
 no shutdown
!
router rip
 version 2
 network 10.0.0.0
 network 75.0.0.0
 no auto-summary
!
