! RT06 初期構成 (相互再配送 RIP⇄OSPF TS・故障注入済)
interface Loopback0
 ip address 10.0.0.1 255.255.255.0
!
interface Loopback1
 ip address 10.0.1.1 255.255.255.0
!
interface {{ links[0] }}
 ip address 10.13.169.2 255.255.255.252
 no shutdown
!
router rip
 version 2
 network 10.0.0.0
 no auto-summary
!
