---
problem: ANSIBLE-02-ADHOC
total_points: 100
defaults: { genie_os: iosxe }
checks:
  - { name: "RT01: snmp location が設定された", node: RT01, command: "show running-config | include snmp-server location", raw: [ { contains: "ANSIBLE-DOJO-02" } ], points: 34 }
  - { name: "RT02: snmp location が設定された", node: RT02, command: "show running-config | include snmp-server location", raw: [ { contains: "ANSIBLE-DOJO-02" } ], points: 33 }
  - { name: "RT03: snmp location が設定された", node: RT03, command: "show running-config | include snmp-server location", raw: [ { contains: "ANSIBLE-DOJO-02" } ], points: 33 }
