! RT02 初期構成 (seed=729)
interface Loopback0
 ip address 13.13.13.13 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.89.40.2 255.255.255.252
 ip ospf authentication message-digest
 ip ospf message-digest-key 1 md5 CCNP
 no shutdown
!
interface {{ links[1] }}
 ip address 10.20.117.1 255.255.255.252
 no shutdown
!
router ospf 1
 network 13.13.13.13 0.0.0.0 area 0
 network 10.89.40.0 0.0.0.3 area 0
 network 10.20.117.0 0.0.0.3 area 0
!
