! CLA 初期状態 (LAN-A クライアント端末・純 stateful DHCPv6（M フラグ・自動生成アドレス禁止）)
ipv6 unicast-routing
ipv6 cef
!
interface {{ links[0] }}
 description === to RT02 (LAN-A) ===
 no shutdown
 ipv6 enable
 ipv6 address dhcp
 ipv6 address autoconfig default
!
