! RT01 (role=f, eigrp=named) 初期構成 (AS 100)
interface Loopback0
 ip address 10.78.78.78 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.197.197.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address 10.194.194.1 255.255.255.252
 no shutdown
!
router eigrp CCNP
 address-family ipv4 unicast autonomous-system 100
  eigrp stub connected
  af-interface Loopback0
   passive-interface
  exit-af-interface
  eigrp router-id 10.78.78.78
  network 10.78.78.78 0.0.0.0
  network 10.197.197.0 0.0.0.3
  network 10.194.194.0 0.0.0.3
 exit-address-family
!
