! RT04 (role=b, eigrp=named) 初期構成 (AS 100)
interface Loopback0
 ip address 10.36.36.36 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.193.193.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address 10.145.145.1 255.255.255.252
 no shutdown
!
router eigrp CCNP
 address-family ipv4 unicast autonomous-system 100
  af-interface Loopback0
   passive-interface
  exit-af-interface
  eigrp router-id 10.36.36.36
  network 10.36.36.36 0.0.0.0
  network 10.193.193.0 0.0.0.3
  network 10.145.145.0 0.0.0.3
 exit-address-family
!
