! ENARSI-MPLS-L3VPN-06 初期状態 (RT01 = PE1 / 04 完成形 / 変更対象)
!   links[0]=RT02(P) / links[1]=RT04(CUST_A CE1) / links[2]=RT06(CUST_B CE1)
vrf definition CUST_A
 rd 65000:100
 address-family ipv4
  route-target export 65000:100
  route-target import 65000:100
 exit-address-family
!
vrf definition CUST_B
 rd 65000:200
 address-family ipv4
  route-target export 65000:200
  route-target import 65000:200
 exit-address-family
!
ip prefix-list PL-CUST-LAN seq 5 permit 172.16.0.0/16 le 24
!
route-map RM-CE-IN permit 10
 match ip address prefix-list PL-CUST-LAN
!
interface Loopback0
 ip address 1.1.1.1 255.255.255.255
!
interface {{ links[0] }}
 description === to RT02 P (10.1.12.0/30) ===
 ip address 10.1.12.1 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[1] }}
 description === to RT04 CUST_A-CE1 (192.168.1.0/30) ===
 vrf forwarding CUST_A
 ip address 192.168.1.2 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 description === to RT06 CUST_B-CE1 (192.168.11.0/30) ===
 vrf forwarding CUST_B
 ip address 192.168.11.2 255.255.255.252
 no shutdown
!
mpls ldp router-id Loopback0 force
!
router ospf 1
 router-id 1.1.1.1
 network 1.1.1.1 0.0.0.0 area 0
 network 10.1.12.0 0.0.0.3 area 0
!
router bgp 65000
 bgp router-id 1.1.1.1
 no bgp default ipv4-unicast
 neighbor 3.3.3.3 remote-as 65000
 neighbor 3.3.3.3 update-source Loopback0
 neighbor 8.8.8.8 remote-as 65000
 neighbor 8.8.8.8 update-source Loopback0
 address-family vpnv4
  neighbor 3.3.3.3 activate
  neighbor 3.3.3.3 send-community extended
  neighbor 8.8.8.8 activate
  neighbor 8.8.8.8 send-community extended
 exit-address-family
 address-family ipv4 vrf CUST_A
  neighbor 192.168.1.1 remote-as 65101
  neighbor 192.168.1.1 activate
  neighbor 192.168.1.1 route-map RM-CE-IN in
 exit-address-family
 address-family ipv4 vrf CUST_B
  neighbor 192.168.11.1 remote-as 65200
  neighbor 192.168.11.1 activate
  neighbor 192.168.11.1 as-override
  neighbor 192.168.11.1 route-map RM-CE-IN in
 exit-address-family
