! ENARSI-MPLS-L3VPN-06 初期状態 (RT03 = PE2 / 04 完成形 / 変更対象)
!   links[0]=RT02(P) / links[1]=RT05(CUST_A CE2) / links[2]=RT07(CUST_B CE2)
vrf definition CUST_A
 rd 65000:100
 address-family ipv4
  route-target export 65000:100
  route-target import 65000:100
 exit-address-family
!
vrf definition CUST_B
 rd 65000:200
 address-family ipv4
  route-target export 65000:200
  route-target import 65000:200
 exit-address-family
!
ip prefix-list PL-CUST-LAN seq 5 permit 172.16.0.0/16 le 24
!
route-map RM-CE-IN permit 10
 match ip address prefix-list PL-CUST-LAN
!
interface Loopback0
 ip address 3.3.3.3 255.255.255.255
!
interface {{ links[0] }}
 description === to RT02 P (10.1.23.0/30) ===
 ip address 10.1.23.2 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[1] }}
 description === to RT05 CUST_A-CE2 (192.168.2.0/30) ===
 vrf forwarding CUST_A
 ip address 192.168.2.2 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 description === to RT07 CUST_B-CE2 (192.168.12.0/30) ===
 vrf forwarding CUST_B
 ip address 192.168.12.2 255.255.255.252
 no shutdown
!
mpls ldp router-id Loopback0 force
!
router ospf 1
 router-id 3.3.3.3
 network 3.3.3.3 0.0.0.0 area 0
 network 10.1.23.0 0.0.0.3 area 0
!
router bgp 65000
 bgp router-id 3.3.3.3
 no bgp default ipv4-unicast
 neighbor 1.1.1.1 remote-as 65000
 neighbor 1.1.1.1 update-source Loopback0
 neighbor 8.8.8.8 remote-as 65000
 neighbor 8.8.8.8 update-source Loopback0
 address-family vpnv4
  neighbor 1.1.1.1 activate
  neighbor 1.1.1.1 send-community extended
  neighbor 8.8.8.8 activate
  neighbor 8.8.8.8 send-community extended
 exit-address-family
 address-family ipv4 vrf CUST_A
  neighbor 192.168.2.1 remote-as 65102
  neighbor 192.168.2.1 activate
  neighbor 192.168.2.1 route-map RM-CE-IN in
 exit-address-family
 address-family ipv4 vrf CUST_B
  neighbor 192.168.12.1 remote-as 65200
  neighbor 192.168.12.1 activate
  neighbor 192.168.12.1 as-override
  neighbor 192.168.12.1 route-map RM-CE-IN in
 exit-address-family
