! GEN-CHAIN-9300 初期 (RT03) — 連鎖故障TS(12台)。設計書は task.md
interface Loopback0
 ip address 54.54.54.54 255.255.255.255
!
interface {{ links[0] }}
 description === to RT01 ===
 ip address 10.212.100.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === to RT05 ===
 ip address 10.27.218.1 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 description === to RT12 ===
 ip address 10.175.162.1 255.255.255.252
 no shutdown
!
router ospf 1
 router-id 54.54.54.54
 network 54.54.54.54 0.0.0.0 area 0
 network 10.212.100.0 0.0.0.3 area 0
 network 10.27.218.0 0.0.0.3 area 0
 network 10.175.162.0 0.0.0.3 area 0
!
router bgp 65001
 bgp router-id 54.54.54.54
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 neighbor 33.33.33.33 remote-as 65001
 neighbor 33.33.33.33 update-source Loopback0
 neighbor 9.9.9.9 remote-as 65001
 neighbor 9.9.9.9 update-source Loopback0
 neighbor 43.43.43.43 remote-as 65001
 neighbor 43.43.43.43 update-source Loopback0
 neighbor 68.68.68.68 remote-as 65001
 neighbor 68.68.68.68 update-source Loopback0
 neighbor 52.52.52.52 remote-as 65001
 neighbor 52.52.52.52 update-source Loopback0
 neighbor 48.48.48.48 remote-as 65001
 neighbor 48.48.48.48 update-source Loopback0
 neighbor 57.57.57.57 remote-as 65001
 neighbor 57.57.57.57 update-source Loopback0
 neighbor 76.76.76.76 remote-as 65001
 neighbor 76.76.76.76 update-source Loopback0
 address-family ipv4
  neighbor 33.33.33.33 activate
  neighbor 33.33.33.33 send-community
  neighbor 33.33.33.33 route-reflector-client
  neighbor 9.9.9.9 activate
  neighbor 9.9.9.9 send-community
  neighbor 9.9.9.9 route-reflector-client
  neighbor 43.43.43.43 activate
  neighbor 43.43.43.43 send-community
  neighbor 43.43.43.43 route-reflector-client
  neighbor 68.68.68.68 activate
  neighbor 68.68.68.68 send-community
  neighbor 68.68.68.68 route-reflector-client
  neighbor 52.52.52.52 activate
  neighbor 52.52.52.52 send-community
  neighbor 52.52.52.52 route-reflector-client
  neighbor 48.48.48.48 activate
  neighbor 48.48.48.48 send-community
  neighbor 48.48.48.48 route-reflector-client
  neighbor 57.57.57.57 activate
  neighbor 57.57.57.57 send-community
  neighbor 76.76.76.76 activate
  neighbor 76.76.76.76 send-community
 exit-address-family
!
