! 自動生成(gen_stp) seed=38320 SW01
vtp mode transparent
vlan 77
 name DATA77
vlan 138
 name DATA138
vlan 242
 name DATA242
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
spanning-tree vlan 77 priority 24576
spanning-tree vlan 138 priority 28672
spanning-tree vlan 242 priority 28672
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 77,138,242
 spanning-tree guard loop
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 77,138,242
 spanning-tree guard loop
 spanning-tree vlan 77 port-priority 64
 no shutdown
!
interface {{ links[2] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 77,138,242
 spanning-tree guard root
 no shutdown
!
interface {{ links[3] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 77,138,242
 spanning-tree guard root
 no shutdown
!
interface GigabitEthernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan77
 ip address 10.137.77.1 255.255.255.0
 no shutdown
!
interface Vlan138
 ip address 10.137.138.1 255.255.255.0
 no shutdown
!
interface Vlan242
 ip address 10.137.242.1 255.255.255.0
 no shutdown
!
