! 自動生成(gen_stp) seed=38320 SW03
vtp mode transparent
vlan 77
 name DATA77
vlan 138
 name DATA138
vlan 242
 name DATA242
vlan 99
 name PARK
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 77,138,242
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 77,138,242
 no shutdown
!
interface {{ links[4] }}
 switchport mode access
 switchport access vlan 77
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface {{ links[5] }}
 switchport mode access
 switchport access vlan 138
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface {{ links[6] }}
 switchport mode access
 switchport access vlan 138
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface {{ links[7] }}
 switchport mode access
 switchport access vlan 77
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface GigabitEthernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan77
 ip address 10.137.77.3 255.255.255.0
 no shutdown
!
interface Vlan138
 ip address 10.137.138.3 255.255.255.0
 no shutdown
!
interface Vlan242
 ip address 10.137.242.3 255.255.255.0
 no shutdown
!
