! RT03 初期状態 (CPE・上流から委任プレフィックスを受け配下へ配布)
ipv6 unicast-routing
ipv6 cef
!
interface {{ links[0] }}
 description === WAN to RT01 (prefix delegation) ===
 ipv6 enable
 ipv6 address 2001:DB8:ba:13::2/64
 ipv6 dhcp client pd DELEG
 no shutdown
!
interface {{ links[1] }}
 description === LAN to HST (配下・SLAAC) ===
 ipv6 address DELEG 0:0:0:1::1/64
 no shutdown
!
ipv6 route ::/0 2001:DB8:ba:13::1
!
