! ENARSI-REDIST-POLICY-01 初期 RT04 (買収拠点: EIGRP 内部・変更不可)
interface Loopback0
 ip address {{ params.rt04_lo }} 255.255.255.255
!
interface Loopback10
 description BR-SERVER-SEGMENT
 ip address {{ params.br_srv }}.1 255.255.255.0
!
interface Loopback20
 description BR-CLIENT-SEGMENT
 ip address {{ params.br_cli }}.1 255.255.255.0
!
interface Loopback99
 description BR-LAB-SEGMENT
 ip address {{ params.br_lab }}.1 255.255.255.0
!
interface {{ links[0] }}
 ip address {{ params.seg24 }}.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address {{ params.seg34 }}.2 255.255.255.252
 no shutdown
!
router eigrp 100
 network {{ params.rt04_lo }} 0.0.0.0
 network {{ params.br_srv }}.1 0.0.0.0
 network {{ params.br_cli }}.1 0.0.0.0
 network {{ params.br_lab }}.1 0.0.0.0
 network {{ params.seg24 }}.0 0.0.0.3
 network {{ params.seg34 }}.0 0.0.0.3
 no auto-summary
!
