# evo2 (clab-ospf-evo2 / 172.20.20.3) config snapshot 2026-07-29 (destroy前保全)
set version 26.2R1.7-EVOI20260619095247-evo-builder-1
set system host-name evo2
set system root-authentication encrypted-password "$6$rounds=656000$VpHdJnKNWmOtr3Dh$599SgaUPT/7l5QkeHzFFEg5jx5cFQy/FfKfkPL.mu2NMON0ivHoBsrL355tsvXUGPw2pqHgaZNhOBOEiDpjTd."
set system login user admin uid 2000
set system login user admin class super-user
set system login user admin authentication encrypted-password "$6$rounds=656000$VpHdJnKNWmOtr3Dh$599SgaUPT/7l5QkeHzFFEg5jx5cFQy/FfKfkPL.mu2NMON0ivHoBsrL355tsvXUGPw2pqHgaZNhOBOEiDpjTd."
set system services netconf ssh
set system services ssh root-login allow
set system management-instance
set interfaces re0:mgmt-0 unit 0 family inet address 10.0.0.15/24
set interfaces re0:mgmt-0 unit 0 family inet6 address 2001:db8::2/64
set routing-instances mgmt_junos routing-options rib mgmt_junos.inet6.0 static route ::/0 next-hop 2001:db8::1
set routing-instances mgmt_junos routing-options static route 0.0.0.0/0 next-hop 10.0.0.2
