! RT01 初期状態 (顧客エッジ・先般 監視の導入/変更作業を実施した直後の状態)
interface {{ links[0] }}
 description === to RT02 (primary ISP access) ===
 ip address 10.239.107.1 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === to RT03 (backup ISP access) ===
 ip address 10.239.186.1 255.255.255.252
 no shutdown
!
interface Loopback0
 ip address 1.1.1.1 255.255.255.255
!
ip sla 2
 icmp-echo 100.64.161.145 source-ip 10.239.107.1
 frequency 10
!
ip sla schedule 2 life forever start-time now
!
track 95 ip sla 3 reachability
!
ip route 100.64.161.145 255.255.255.255 10.239.107.2
ip route 0.0.0.0 0.0.0.0 10.239.107.2 track 95
ip route 0.0.0.0 0.0.0.0 10.239.186.2 180
!
