! _POC-STP-L2V SW01(DS1)
vtp mode transparent
vlan 30
 name DATA30
vlan 107
 name DATA107
vlan 194
 name DATA194
!
spanning-tree mode rapid-pvst
spanning-tree vlan 107 priority 24576
spanning-tree vlan 30,194 priority 28672
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 30,107,194
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 30,107,194
 no shutdown
!
interface {{ links[2] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 30,107,194
 no shutdown
!
interface {{ links[3] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 30,107,194
 no shutdown
!
interface GigabitEthernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan30
 ip address 10.90.30.1 255.255.255.0
 no shutdown
!
interface Vlan107
 ip address 10.90.107.1 255.255.255.0
 no shutdown
!
interface Vlan194
 ip address 10.90.194.1 255.255.255.0
 no shutdown
