! _POC-STP-L2V SW04(AS2)
vtp mode transparent
vlan 30
 name DATA30
vlan 107
 name DATA107
vlan 194
 name DATA194
!
spanning-tree mode rapid-pvst
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 30,107,194
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 30,107,194
 no shutdown
!
interface GigabitEthernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan30
 ip address 10.90.30.4 255.255.255.0
 no shutdown
!
interface Vlan107
 ip address 10.90.107.4 255.255.255.0
 no shutdown
!
interface Vlan194
 ip address 10.90.194.4 255.255.255.0
 no shutdown
