! RT01: BGP のみ(AS65000・iBGP で RT02 と)。受信専用。
interface Loopback0
 ip address 1.1.1.1 255.255.255.255
!
interface {{ links[0] }}
 description === to RT02 ===
 ip address 192.168.1.1 255.255.255.0
 no shutdown
!
router bgp 65000
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 neighbor 192.168.1.2 remote-as 65000
 address-family ipv4 unicast
  neighbor 192.168.1.2 activate
 exit-address-family
!
