! ENCOR-VACL-02 初期 (RT01, iol-xe) : VLAN10内のエンドポイント。変更不要。
! links[0] = SW01 向け(VLAN10 アクセス)
interface {{ links[0] }}
 description === to SW01 (VLAN10) ===
 ip address 192.168.10.1 255.255.255.0
 no shutdown
!
