! CLB 初期状態 (LAN-B クライアント端末・SLAAC + stateless DHCPv6（O フラグ）)
ipv6 unicast-routing
ipv6 cef
!
interface {{ links[0] }}
 description === to RT02 (LAN-B) ===
 no shutdown
 ipv6 address autoconfig default
!
line vty 0 4
 transport input ssh telnet
!
