! ROG 初期状態 (LAN-B に接続された社内機器・先般の作業で設定が変更された)
ipv6 unicast-routing
ipv6 cef
!
interface {{ links[0] }}
 description === to LAN-B (SWB) ===
 no shutdown
 ipv6 address 2001:DB8:c4:BAD::1/64
 ipv6 nd router-preference High
!
