! RT01 初期状態 (顧客エッジ・先般 監視の導入/変更作業を実施した直後の状態)
ip access-list extended SEC-PROTECT-IN
 deny icmp host 100.64.31.140 host 10.146.220.1 echo-reply
 permit ip any any
!
interface {{ links[0] }}
 description === to RT02 (primary ISP access) ===
 ip address 10.146.220.1 255.255.255.252
 ip access-group SEC-PROTECT-IN in
 no shutdown
!
interface {{ links[1] }}
 description === to RT03 (backup ISP access) ===
 ip address 10.146.129.1 255.255.255.252
 no shutdown
!
interface Loopback0
 ip address 2.2.2.2 255.255.255.255
!
ip sla 6
 icmp-echo 100.64.31.140 source-ip 10.146.220.1
 frequency 10
!
ip sla schedule 6 life forever start-time now
!
track 47 ip sla 6 reachability
!
ip route 100.64.31.140 255.255.255.255 10.146.220.2
ip route 0.0.0.0 0.0.0.0 10.146.220.2 track 47
ip route 0.0.0.0 0.0.0.0 10.146.129.2 200
!
