! ENARSI-MPLS-L3VPN-05 初期状態 (RT02 = PE2 / spoke2 収容 / 変更対象)
!   links[0]=RT05(P2) / links[1]=RT09(CUST_A CE2) / links[2]=RT10(CUST_B CE2=spoke)
vrf definition CUST_A
 rd 65000:100
 address-family ipv4
  route-target export 65000:100
  route-target import 65000:100
 exit-address-family
!
vrf definition CUST_B
 rd 65000:200
 address-family ipv4
  route-target export 65000:200
  route-target import 65000:200
 exit-address-family
!
interface Loopback0
 ip address 2.2.2.2 255.255.255.255
!
interface {{ links[0] }}
 description === to RT05 P2 (10.1.25.0/30) ===
 ip address 10.1.25.1 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[1] }}
 description === to RT09 CUST_A-CE2 (192.168.2.0/30) ===
 vrf forwarding CUST_A
 ip address 192.168.2.2 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 description === to RT10 CUST_B-CE2 spoke (192.168.12.0/30) ===
 vrf forwarding CUST_B
 ip address 192.168.12.2 255.255.255.252
 no shutdown
!
mpls ldp router-id Loopback0 force
!
router ospf 1
 router-id 2.2.2.2
 network 2.2.2.2 0.0.0.0 area 0
 network 10.1.25.0 0.0.0.3 area 0
!
router bgp 65000
 bgp router-id 2.2.2.2
 no bgp default ipv4-unicast
 neighbor 1.1.1.1 remote-as 65000
 neighbor 1.1.1.1 update-source Loopback0
 neighbor 3.3.3.3 remote-as 65000
 neighbor 3.3.3.3 update-source Loopback0
 address-family vpnv4
  neighbor 1.1.1.1 activate
  neighbor 1.1.1.1 send-community extended
  neighbor 3.3.3.3 activate
  neighbor 3.3.3.3 send-community extended
 exit-address-family
 address-family ipv4 vrf CUST_A
  neighbor 192.168.2.1 remote-as 65102
  neighbor 192.168.2.1 activate
 exit-address-family
 address-family ipv4 vrf CUST_B
  neighbor 192.168.12.1 remote-as 65202
  neighbor 192.168.12.1 activate
 exit-address-family
