! ENARSI-MPLS-L3VPN-05 初期状態 (RT07 = CUST_A CE1 / 顧客管理・変更禁止)
!   links[0]=RT01(PE1)
interface Loopback1
 description === CUST_A site1 LAN ===
 ip address 172.16.1.1 255.255.255.0
!
interface {{ links[0] }}
 description === to RT01 PE1 (192.168.1.0/30) ===
 ip address 192.168.1.1 255.255.255.252
 no shutdown
!
router bgp 65101
 bgp router-id 7.7.7.7
 bgp log-neighbor-changes
 network 172.16.1.0 mask 255.255.255.0
 neighbor 192.168.1.2 remote-as 65000
