! ENARSI-MPLS-L3VPN-05 初期状態 (RT09 = CUST_A CE2 / 顧客管理・変更禁止)
!   links[0]=RT02(PE2)
interface Loopback1
 description === CUST_A site2 LAN ===
 ip address 172.16.2.1 255.255.255.0
!
interface {{ links[0] }}
 description === to RT02 PE2 (192.168.2.0/30) ===
 ip address 192.168.2.1 255.255.255.252
 no shutdown
!
router bgp 65102
 bgp router-id 9.9.9.9
 bgp log-neighbor-changes
 network 172.16.2.0 mask 255.255.255.0
 neighbor 192.168.2.2 remote-as 65000
