! ENARSI-MPLS-L3VPN-05 初期状態 (RT10 = CUST_B CE2 = spoke / 顧客管理・変更禁止)
!   links[0]=RT02(PE2)
interface Loopback1
 description === CUST_B site2 LAN (spoke) ===
 ip address 172.16.2.9 255.255.255.0
!
interface {{ links[0] }}
 description === to RT02 PE2 (192.168.12.0/30) ===
 ip address 192.168.12.1 255.255.255.252
 no shutdown
!
router bgp 65202
 bgp router-id 10.10.10.10
 bgp log-neighbor-changes
 network 172.16.2.0 mask 255.255.255.0
 neighbor 192.168.12.2 remote-as 65000
