! ENARSI-MPLS-L3VPN-05 初期状態 (RT11 = CUST_A CE3 / 顧客管理・変更禁止)
!   links[0]=RT03(PE3)
interface Loopback1
 description === CUST_A site3 LAN ===
 ip address 172.16.3.1 255.255.255.0
!
interface {{ links[0] }}
 description === to RT03 PE3 (192.168.3.0/30) ===
 ip address 192.168.3.1 255.255.255.252
 no shutdown
!
router bgp 65103
 bgp router-id 11.11.11.11
 bgp log-neighbor-changes
 network 172.16.3.0 mask 255.255.255.0
 neighbor 192.168.3.2 remote-as 65000
