! ENARSI-MPLS-L3VPN-05 初期状態 (RT12 = CUST_B CE3 = spoke / 顧客管理・変更禁止)
!   links[0]=RT03(PE3)
interface Loopback1
 description === CUST_B site3 LAN (spoke) ===
 ip address 172.16.3.9 255.255.255.0
!
interface {{ links[0] }}
 description === to RT03 PE3 (192.168.13.0/30) ===
 ip address 192.168.13.1 255.255.255.252
 no shutdown
!
router bgp 65203
 bgp router-id 12.12.12.12
 bgp log-neighbor-changes
 network 172.16.3.0 mask 255.255.255.0
 neighbor 192.168.13.2 remote-as 65000
