! 自動生成(gen_stp) seed=72642 SW03
vtp mode transparent
vlan 30
 name DATA30
vlan 107
 name DATA107
vlan 194
 name DATA194
vlan 99
 name PARK
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
!
interface {{ links[0] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 30,107,194
 no shutdown
!
interface {{ links[1] }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 30,107,194
 no shutdown
!
interface {{ links[4] }}
 switchport mode access
 switchport access vlan 194
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface {{ links[5] }}
 switchport mode access
 switchport access vlan 30
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface {{ links[6] }}
 switchport mode access
 switchport access vlan 99
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface {{ links[7] }}
 switchport mode access
 switchport access vlan 107
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
interface Ethernet3/3
 spanning-tree bpdufilter enable
!
interface Vlan30
 ip address 10.94.30.3 255.255.255.0
 no shutdown
!
interface Vlan107
 ip address 10.94.107.3 255.255.255.0
 no shutdown
!
interface Vlan194
 ip address 10.94.194.3 255.255.255.0
 no shutdown
!
