! RT01 初期状態 (顧客エッジ・先般 監視の導入/変更作業を実施した直後の状態)
interface {{ links[0] }}
 description === to RT02 (backup ISP access) ===
 ip address 10.56.241.1 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === to RT03 (primary ISP access) ===
 ip address 10.56.215.1 255.255.255.252
 no shutdown
!
interface Loopback0
 ip address 2.2.2.2 255.255.255.255
!
ip sla 89
 icmp-echo 100.64.49.155 source-ip 10.56.241.1
 frequency 10
!
ip sla schedule 89 life forever start-time now
!
track 61 ip sla 89 reachability
!
ip route 100.64.49.155 255.255.255.255 10.56.215.2
ip route 0.0.0.0 0.0.0.0 10.56.215.2 track 61
ip route 0.0.0.0 0.0.0.0 10.56.241.2 220
!
