! RT05 初期構成 (seed=15505)
interface Loopback0
 ip address 14.14.14.14 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.96.107.2 255.255.255.252
 ip ospf authentication message-digest
 ip ospf message-digest-key 1 md5 CCNP
 no shutdown
!
router ospf 1
 network 14.14.14.14 0.0.0.0 area 0
 network 10.96.107.0 0.0.0.3 area 0
!
