! GEN-REDISTLOOP 初期 RE : BGP AS65000 起点(192.168.51.0/24 を広告)
interface Loopback0
 ip address 192.168.51.1 255.255.255.0
!
interface {{ links[0] }}
 ip address {{ params.seg_ec }}.1 255.255.255.252
 no shutdown
!
router bgp 65000
 bgp router-id 192.168.51.1
 bgp log-neighbor-changes
 network 192.168.51.0 mask 255.255.255.0
 neighbor {{ params.seg_ec }}.2 remote-as 65000
!
