! RT01 初期構成 (相互再配送 RIP⇄OSPF TS・故障注入済)
interface Loopback0
 ip address 72.72.72.72 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.20.225.1 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address 10.124.141.1 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 ip address 10.189.179.1 255.255.255.252
 no shutdown
!
router rip
 version 2
 network 10.0.0.0
 network 72.0.0.0
 no auto-summary
!
