! --- data plane (構築済み・変更不可) ---
interface Loopback0
 ip address 9.9.9.9 255.255.255.255
interface Ethernet0/0
 description === to RT01 ===
 ip address 10.1.12.2 255.255.255.252
 no shutdown
router ospf 1
 router-id 9.9.9.9
 network 9.9.9.9 0.0.0.0 area 0
 network 10.1.12.0 0.0.0.3 area 0
