! RT02 初期状態 (LAN-A のデフォルトゲートウェイ / DHCPv6 リレー)
ipv6 unicast-routing
ipv6 cef
!
interface {{ links[0] }}
 description === to RT01 (core) ===
 ipv6 address 2001:DB8:22:12::2/64
 no shutdown
!
interface {{ links[1] }}
 description === LAN-A (SLAAC + stateless DHCPv6（O フラグ）) ===
 ipv6 address 2001:DB8:22:A::1/64
 no shutdown
 ipv6 dhcp relay destination 2001:DB8:22:12::1
 ipv6 nd other-config-flag
!
ipv6 route 2001:DB8:22:1::/64 2001:DB8:22:12::1
!
