! RT02 初期構成 (seed=6785)
interface Loopback0
 ip address 7.7.7.7 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.45.43.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address 10.56.29.1 255.255.255.252
 ip ospf authentication message-digest
 ip ospf message-digest-key 1 md5 CCNP
 no shutdown
!
router ospf 1
 router-id 7.7.7.7
 network 7.7.7.7 0.0.0.0 area 0
 network 10.45.43.0 0.0.0.3 area 0
 network 10.56.29.0 0.0.0.3 area 0
!
