! _POC-MCAST RT01
hostname RT01
interface Loopback0
 ip address 1.1.1.1 255.255.255.255
 ip ospf 1 area 0
!
interface {{ links[0] }}
 ip address 10.0.12.1 255.255.255.0
 ip ospf 1 area 0
 ip ospf network point-to-point
 no shutdown
!
router ospf 1
 router-id 1.1.1.1
!

