! _POC-MCAST RT02
hostname RT02
ip multicast-routing
interface Loopback0
 ip address 2.2.2.2 255.255.255.255
 ip ospf 1 area 0
 ip pim sparse-mode
!
interface {{ links[0] }}
 ip address 10.0.12.2 255.255.255.0
 ip ospf 1 area 0
 ip ospf network point-to-point
 ip pim sparse-mode
 no shutdown
!
interface {{ links[1] }}
 ip address 10.0.23.2 255.255.255.0
 ip ospf 1 area 0
 ip ospf network point-to-point
 ip pim sparse-mode
 no shutdown
!
interface {{ links[2] }}
 ip address 10.0.25.2 255.255.255.0
 ip ospf 1 area 0
 ip ospf network point-to-point
 ip pim sparse-mode
 no shutdown
!
router ospf 1
 router-id 2.2.2.2
!
ip pim rp-address 3.3.3.3

