! _POC-MCAST RT03
hostname RT03
ip multicast-routing
interface Loopback0
 ip address 3.3.3.3 255.255.255.255
 ip ospf 1 area 0
 ip pim sparse-mode
!
interface {{ links[0] }}
 ip address 10.0.23.3 255.255.255.0
 ip ospf 1 area 0
 ip ospf network point-to-point
 ip pim sparse-mode
 no shutdown
!
interface {{ links[1] }}
 ip address 10.0.34.3 255.255.255.0
 ip ospf 1 area 0
 ip ospf network point-to-point
 ip pim sparse-mode
 no shutdown
!
router ospf 1
 router-id 3.3.3.3
!
ip pim rp-address 3.3.3.3

