! _POC-MCAST RT05
hostname RT05
ip multicast-routing
interface Loopback0
 ip address 5.5.5.5 255.255.255.255
 ip ospf 1 area 0
 ip pim sparse-mode
!
interface {{ links[0] }}
 ip address 10.0.25.5 255.255.255.0
 ip ospf 1 area 0
 ip ospf network point-to-point
 ip pim sparse-mode
 no shutdown
!
interface {{ links[1] }}
 ip address 10.0.45.5 255.255.255.0
 ip ospf 1 area 0
 ip ospf network point-to-point
 ip pim sparse-mode
 no shutdown
!
interface {{ links[2] }}
 ip address 10.0.58.5 255.255.255.0
 ip ospf 1 area 0
 ip ospf network point-to-point
 ip pim sparse-mode
 no shutdown
!
router ospf 1
 router-id 5.5.5.5
!
ip pim rp-address 3.3.3.3

