! _POC-MCAST SW01(ioll2・受信 LAN= VLAN 100・IGMP snooping 既定)
hostname SW01
vtp mode transparent
vlan 100
 name MCAST-LAN
!
interface {{ links[0] }}
 switchport mode access
 switchport access vlan 100
 spanning-tree portfast
 no shutdown
!
interface {{ links[1] }}
 switchport mode access
 switchport access vlan 100
 spanning-tree portfast
 no shutdown
!
interface {{ links[2] }}
 switchport mode access
 switchport access vlan 100
 spanning-tree portfast
 no shutdown
!
interface {{ links[3] }}
 switchport mode access
 switchport access vlan 100
 spanning-tree portfast
 no shutdown
!
