! GEN-CHAIN-9600 初期 (RT04) — 連鎖故障TS(12台)。設計書は task.md
interface Loopback0
 ip address 35.35.35.35 255.255.255.255
!
interface {{ links[0] }}
 description === to RT01 ===
 ip address 10.42.9.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === to RT06 ===
 ip address 10.252.237.1 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 description === to RT12 ===
 ip address 10.46.7.1 255.255.255.252
 no shutdown
!
router ospf 1
 router-id 35.35.35.35
 network 35.35.35.35 0.0.0.0 area 0
 network 10.42.9.0 0.0.0.3 area 0
 network 10.252.237.0 0.0.0.3 area 0
 network 10.46.7.0 0.0.0.3 area 0
!
router bgp 65001
 bgp router-id 35.35.35.35
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 neighbor 93.93.93.93 remote-as 65001
 neighbor 93.93.93.93 update-source Loopback0
 neighbor 60.60.60.60 remote-as 65001
 neighbor 60.60.60.60 update-source Loopback0
 neighbor 62.62.62.62 remote-as 65001
 neighbor 62.62.62.62 update-source Loopback0
 neighbor 57.57.57.57 remote-as 65001
 neighbor 57.57.57.57 update-source Loopback0
 neighbor 67.67.67.67 remote-as 65001
 neighbor 67.67.67.67 update-source Loopback0
 neighbor 83.83.83.83 remote-as 65001
 neighbor 83.83.83.83 update-source Loopback0
 neighbor 68.68.68.68 remote-as 65001
 neighbor 68.68.68.68 update-source Loopback0
 neighbor 40.40.40.40 remote-as 65001
 neighbor 40.40.40.40 update-source Loopback0
 address-family ipv4
  neighbor 93.93.93.93 activate
  neighbor 93.93.93.93 send-community
  neighbor 93.93.93.93 route-reflector-client
  neighbor 60.60.60.60 activate
  neighbor 60.60.60.60 send-community
  neighbor 60.60.60.60 route-reflector-client
  neighbor 62.62.62.62 activate
  neighbor 62.62.62.62 send-community
  neighbor 62.62.62.62 route-reflector-client
  neighbor 57.57.57.57 activate
  neighbor 57.57.57.57 send-community
  neighbor 57.57.57.57 route-reflector-client
  neighbor 67.67.67.67 activate
  neighbor 67.67.67.67 send-community
  neighbor 67.67.67.67 route-reflector-client
  neighbor 83.83.83.83 activate
  neighbor 83.83.83.83 send-community
  neighbor 83.83.83.83 route-reflector-client
  neighbor 68.68.68.68 activate
  neighbor 68.68.68.68 send-community
  neighbor 40.40.40.40 activate
  neighbor 40.40.40.40 send-community
 exit-address-family
!
