! GEN-CHAIN-9600 初期 (RT08) — 連鎖故障TS(12台)。設計書は task.md
interface Loopback0
 ip address 12.12.12.12 255.255.255.255
!
interface Loopback10
 description === East Server LAN ===
 ip address 172.21.0.1 255.255.255.0
 ip ospf network point-to-point
!
interface Loopback11
 description === East Server LAN ===
 ip address 172.21.1.1 255.255.255.0
 ip ospf network point-to-point
!
interface {{ links[0] }}
 description === to RT07 ===
 ip address 172.30.239.10 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 description === to RT09 ===
 ip address 172.30.67.6 255.255.255.252
 no shutdown
!
router ospf 2
 router-id 2.12.12.12
 network 172.30.239.8 0.0.0.3 area 0
 network 172.30.67.4 0.0.0.3 area 0
 network 12.12.12.12 0.0.0.0 area 0
 network 172.21.0.0 0.0.0.255 area 0
 network 172.21.1.0 0.0.0.255 area 0
!
