! GEN-CHAIN-9600 初期 (RT10) — 連鎖故障TS(12台)。設計書は task.md
interface Loopback0
 ip address 5.5.5.5 255.255.255.255
!
interface Loopback10
 description === West User LAN ===
 ip address 172.20.0.1 255.255.255.0
!
interface Loopback11
 description === West User LAN ===
 ip address 172.20.1.1 255.255.255.0
!
interface {{ links[0] }}
 description === to RT11 ===
 ip address 10.127.4.1 255.255.255.252
 no shutdown
!
router eigrp 65100
 network 10.127.4.0 0.0.0.3
 network 5.5.5.5 0.0.0.0
 network 172.20.0.0 0.0.0.255
 network 172.20.1.0 0.0.0.255
 no auto-summary
!
