! SWB 初期状態 (LAN-B アクセススイッチ・土台のみ: VLAN/アクセスポート・FHS 未設定)
vlan 20
 name LAN-B
!
interface {{ links[0] }}
 description === to RT02 (LAN-B GW) ===
 switchport
 switchport mode access
 switchport access vlan 20
 no shutdown
!
interface {{ links[1] }}
 description === to CLB (host) ===
 switchport
 switchport mode access
 switchport access vlan 20
 no shutdown
!
interface {{ links[2] }}
 description === to ROG (other-dept device) ===
 switchport
 switchport mode access
 switchport access vlan 20
 no shutdown
!
