! RT04 初期構成 (seed=43317)
interface Loopback0
 ip address 58.58.58.58 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.9.94.2 255.255.255.252
 no shutdown
 description *** legacy link - review later ***
 ip ospf cost 500
!
router ospf 1
 network 58.58.58.58 0.0.0.0 area 0
 network 10.9.94.0 0.0.0.3 area 0
!
