! GEN-MPLSEB-40718 初期状態 (RT04 = P / 変更対象)
interface Loopback0
 ip address 42.42.42.42 255.255.255.255
!
interface Loopback9
 description === local mgmt (IGP/LDP 対象外) ===
 ip address 10.255.4.1 255.255.255.255
!
interface {{ links[0] }}
 description === to RT01 (10.49.248.0/30) ===
 ip address 10.49.248.2 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[1] }}
 description === to RT05 (10.41.52.0/30) ===
 ip address 10.41.52.1 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[2] }}
 description === to RT06 (10.186.69.0/30) ===
 ip address 10.186.69.1 255.255.255.252
 mpls ip
 no shutdown
!
mpls ldp router-id Loopback0 force
!
router ospf 1
 router-id 42.42.42.42
 network 42.42.42.42 0.0.0.0 area 0
 network 10.49.248.0 0.0.0.3 area 0
 network 10.41.52.0 0.0.0.3 area 0
 network 10.186.69.0 0.0.0.3 area 0
!
