! GEN-MPLSEB-40718 初期状態 (RT06 = P / 変更対象)
interface Loopback0
 ip address 11.11.11.11 255.255.255.255
!
interface Loopback9
 description === local mgmt (IGP/LDP 対象外) ===
 ip address 10.255.6.1 255.255.255.255
!
interface {{ links[0] }}
 description === to RT03 (10.72.249.0/30) ===
 ip address 10.72.249.2 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[1] }}
 description === to RT05 (10.0.119.0/30) ===
 ip address 10.0.119.2 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[2] }}
 description === to RT04 (10.186.69.0/30) ===
 ip address 10.186.69.2 255.255.255.252
 mpls ip
 no shutdown
!
mpls ldp router-id Loopback0 force
!
router ospf 1
 router-id 11.11.11.11
 network 11.11.11.11 0.0.0.0 area 0
 network 10.72.249.0 0.0.0.3 area 0
 network 10.0.119.0 0.0.0.3 area 0
 network 10.186.69.0 0.0.0.3 area 0
!
