! CLA 初期状態 (LAN-A クライアント端末・純 SLAAC（DNS は RA の DNS オプションで配布・DHCPv6 不使用）)
ipv6 unicast-routing
ipv6 cef
!
interface {{ links[0] }}
 description === to RT02 (LAN-A) ===
 no shutdown
 ipv6 address autoconfig default
!
line vty 0 4
 transport input ssh telnet
!
