! SWB 初期状態 (LAN-B アクセススイッチ・先般 IPv6 FHS の導入作業を実施した直後)
vlan 110
 name LAN-B
!
ipv6 prefix-list RA-OK seq 10 permit 2001:DB8:68:A::/64
!
ipv6 nd raguard policy NO-RA
 device-role router
 match ra prefix-list RA-OK
!
ipv6 nd raguard policy UPLINK
 device-role router
!
ipv6 dhcp guard policy DHG-ACCESS
 device-role client
!
ipv6 dhcp guard policy DHCP-SRV
 device-role server
!
vlan configuration 110
 ipv6 nd raguard attach-policy NO-RA
!
interface {{ links[0] }}
 description === to RT02 (LAN-B GW) ===
 switchport
 switchport mode access
 switchport access vlan 110
 ipv6 dhcp guard attach-policy DHCP-SRV
 no shutdown
!
interface {{ links[1] }}
 description === to CLB (host) ===
 switchport
 switchport mode access
 switchport access vlan 110
 ipv6 dhcp guard attach-policy DHG-ACCESS
 no shutdown
!
interface {{ links[2] }}
 description === to ROG (other-dept device) ===
 switchport
 switchport mode access
 switchport access vlan 110
 ipv6 dhcp guard attach-policy DHG-ACCESS
 no shutdown
!
