! ENARSI-OSPF-MADJ-01 initial (RT04 = area 0 backbone transit)
!   links[0]=to RT03 / links[1]=to RT02
interface Loopback0
 ip address 4.4.4.4 255.255.255.255
!
interface {{ links[0] }}
 description === to RT03 (area 0 backbone) ===
 ip address 10.1.34.2 255.255.255.252
 ip ospf cost 100
 no shutdown
!
interface {{ links[1] }}
 description === to RT02 (area 0 backbone) ===
 ip address 10.1.24.1 255.255.255.252
 ip ospf cost 100
 no shutdown
!
router ospf 1
 router-id 4.4.4.4
 network 4.4.4.4 0.0.0.0 area 0
 network 10.1.34.0 0.0.0.3 area 0
 network 10.1.24.0 0.0.0.3 area 0
!
