! ENARSI-OSPF-MADJ-01 initial (RT05 = area 1 internal / west endpoint)
!   links[0]=to RT01
interface Loopback0
 ip address 5.5.5.5 255.255.255.255
!
interface {{ links[0] }}
 description === to RT01 (area 1) ===
 ip address 10.1.15.2 255.255.255.252
 no shutdown
!
router ospf 1
 router-id 5.5.5.5
 network 5.5.5.5 0.0.0.0 area 1
 network 10.1.15.0 0.0.0.3 area 1
!
