! ENARSI-OSPF-MADJ-01 initial (RT06 = area 2 internal / east endpoint)
!   links[0]=to RT02
interface Loopback0
 ip address 6.6.6.6 255.255.255.255
!
interface {{ links[0] }}
 description === to RT02 (area 2) ===
 ip address 10.1.26.2 255.255.255.252
 no shutdown
!
router ospf 1
 router-id 6.6.6.6
 network 6.6.6.6 0.0.0.0 area 2
 network 10.1.26.0 0.0.0.3 area 2
!
