! RT01 初期状態 (テナントA site1 CE・設定済/変更禁止)
key chain KC-A
 key 6
  key-string Ten8987Key
!
interface Loopback1
 ip address 172.25.164.1 255.255.255.0
!
interface Loopback2
 ip address 172.25.165.1 255.255.255.0
!
interface {{ links[0] }}
 ip address 10.120.3.1 255.255.255.252
 ip authentication mode eigrp 120 md5
 ip authentication key-chain eigrp 120 KC-A
 no shutdown
!
router eigrp 120
 network 10.120.3.0 0.0.0.3
 network 172.25.164.0 0.0.0.255
 network 172.25.165.0 0.0.0.255
 no auto-summary
!
