! RT02 初期状態 (FNF TS・昨日 監視チームが FNF を導入した直後の状態)
interface Loopback0
 ip address 68.68.68.68 255.255.255.255
!
flow record REC-EDGE
 match ipv4 source address
 match ipv4 destination address
 match ipv4 protocol
 match transport source-port
 match transport destination-port
 collect counter bytes
 collect counter packets
!
flow exporter EXP-EDGE
 destination 203.0.113.236
 source Ethernet0/1
 transport udp 4739
!
flow monitor MON-EDGE
 record REC-EDGE
!
interface {{ links[0] }}
 description === to RT01 (customer traffic in) ===
 ip address 10.241.106.2 255.255.255.252
 ip flow monitor MON-EDGE input
 no shutdown
!
interface {{ links[1] }}
 description === to RT03 (upstream) ===
 ip address 10.241.107.1 255.255.255.252
 no shutdown
!
router ospf 1
 router-id 68.68.68.68
 network 68.68.68.68 0.0.0.0 area 0
 network 10.241.106.0 0.0.0.3 area 0
 network 10.241.107.0 0.0.0.3 area 0
!
