! RT03 初期状態 (変更禁止・トラフィック宛先側)
interface Loopback0
 ip address 1.1.1.1 255.255.255.255
!
interface {{ links[0] }}
 description === to RT02 ===
 ip address 10.241.107.2 255.255.255.252
 no shutdown
!
router ospf 1
 router-id 1.1.1.1
 network 1.1.1.1 0.0.0.0 area 0
 network 10.241.107.0 0.0.0.3 area 0
!
