! RT03 (role=e, eigrp=named) 初期構成 (AS 100)
interface Loopback0
 ip address 10.90.90.90 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.109.109.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address 10.151.151.1 255.255.255.252
 no shutdown
!
router eigrp CCNP
 address-family ipv4 unicast autonomous-system 100
  af-interface Loopback0
   passive-interface
  exit-af-interface
  eigrp router-id 10.90.90.90
  network 10.90.90.90 0.0.0.0
  network 10.109.109.0 0.0.0.3
  network 10.151.151.0 0.0.0.3
 exit-address-family
!
