! RT04 (role=d, eigrp=named) 初期構成 (AS 100)
interface Loopback0
 ip address 10.42.42.42 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.170.170.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address 10.136.136.2 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 ip address 10.109.109.1 255.255.255.252
 no shutdown
!
router eigrp CCNP
 address-family ipv4 unicast autonomous-system 100
  af-interface Loopback0
   passive-interface
  exit-af-interface
  af-interface {{ links[2] }}
   passive-interface
  exit-af-interface
  eigrp router-id 10.42.42.42
  network 10.42.42.42 0.0.0.0
  network 10.170.170.0 0.0.0.3
  network 10.136.136.0 0.0.0.3
  network 10.109.109.0 0.0.0.3
 exit-address-family
!
