! RT07 (role=b, eigrp=named) 初期構成 (AS 100)
interface Loopback0
 ip address 10.55.55.55 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.155.155.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 ip address 10.136.136.1 255.255.255.252
 no shutdown
!
router eigrp CCNP
 address-family ipv4 unicast autonomous-system 100
  af-interface Loopback0
   passive-interface
  exit-af-interface
  eigrp router-id 10.55.55.55
  network 10.55.55.55 0.0.0.0
  network 10.155.155.0 0.0.0.3
  network 10.136.136.0 0.0.0.3
 exit-address-family
!
