router bgp {{ params.as_cust }}
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 neighbor {{ params.rt01_lo }} remote-as {{ params.as_cust }}
 neighbor {{ params.rt01_lo }} update-source Loopback0
 neighbor {{ params.rt02_lo }} remote-as {{ params.as_cust }}
 neighbor {{ params.rt02_lo }} update-source Loopback0
 address-family ipv4
  neighbor {{ params.rt01_lo }} activate
  neighbor {{ params.rt02_lo }} activate
  network {{ params.cust_net }}.0 mask 255.255.255.128
  network {{ params.cust_net }}.128 mask 255.255.255.128
 exit-address-family
