! ENCOR-FNF-01 初期状態 (RT01 = トラフィック送信元側)。値は params/<variant>.yml 由来。
!   links[0] = RT02 向け。OSPF area0 既設。Lo0 = {{ params.rt01_lo }}。
interface Loopback0
 ip address {{ params.rt01_lo }} 255.255.255.255
!
interface {{ links[0] }}
 description === to RT02 ===
 ip address {{ params.seg12 }}.1 255.255.255.252
 no shutdown
!
router ospf 1
 router-id {{ params.rt01_lo }}
 network {{ params.rt01_lo }} 0.0.0.0 area 0
 network {{ params.seg12 }}.0 0.0.0.3 area 0
!
