! GEN-MPLSTS-100 初期状態 (RT04 = P / 変更対象)
interface Loopback0
 ip address 23.23.23.23 255.255.255.255
!
interface Loopback9
 description === local mgmt (IGP/LDP 対象外) ===
 ip address 10.255.4.1 255.255.255.255
!
interface {{ links[0] }}
 description === to RT01 (10.187.89.0/30) ===
 ip address 10.187.89.2 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[1] }}
 description === to RT05 (10.136.31.0/30) ===
 ip address 10.136.31.1 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[2] }}
 description === to RT06 (10.116.67.0/30) ===
 ip address 10.116.67.1 255.255.255.252
 mpls ip
 no shutdown
!
mpls ldp router-id Loopback0 force
!
router ospf 1
 router-id 23.23.23.23
 network 23.23.23.23 0.0.0.0 area 0
 network 10.187.89.0 0.0.0.3 area 0
 network 10.136.31.0 0.0.0.3 area 0
 network 10.116.67.0 0.0.0.3 area 0
!
