! GEN-MPLSTS-100 初期状態 (RT06 = P / 変更対象)
interface Loopback0
 ip address 51.51.51.51 255.255.255.255
!
interface Loopback9
 description === local mgmt (IGP/LDP 対象外) ===
 ip address 10.255.6.1 255.255.255.255
!
interface {{ links[0] }}
 description === to RT03 (10.204.28.0/30) ===
 ip address 10.204.28.2 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[1] }}
 description === to RT05 (10.20.188.0/30) ===
 ip address 10.20.188.2 255.255.255.252
 mpls ip
 no shutdown
!
interface {{ links[2] }}
 description === to RT04 (10.116.67.0/30) ===
 ip address 10.116.67.2 255.255.255.252
 mpls ip
 no shutdown
!
mpls ldp router-id Loopback0 force
!
router ospf 1
 router-id 51.51.51.51
 network 51.51.51.51 0.0.0.0 area 0
 network 10.204.28.0 0.0.0.3 area 0
 network 10.20.188.0 0.0.0.3 area 0
 network 10.116.67.0 0.0.0.3 area 0
!
