! RT02 (role=e, ospf=interface) 初期構成
interface Loopback0
 ip address 5.5.5.5 255.255.255.255
 ip ospf 1 area 1
!
interface {{ links[0] }}
 ip address 10.106.193.2 255.255.255.252
 ip ospf 1 area 1
 no shutdown
!
interface {{ links[1] }}
 ip address 10.203.54.1 255.255.255.252
 ip ospf 1 area 2
 no shutdown
!
router ospf 1
 router-id 5.5.5.5
 area 1 virtual-link 97.97.97.97
!
