! RT03 (role=s, ospf=interface) 初期構成
interface Loopback0
 ip address 49.49.49.49 255.255.255.255
 ip ospf 1 area 0
!
interface {{ links[0] }}
 ip address 10.93.116.1 255.255.255.252
 ip ospf cost 2000
 ip ospf 1 area 0
 no shutdown
!
interface {{ links[1] }}
 ip address 10.119.64.1 255.255.255.252
 ip ospf cost 1000
 ip ospf 1 area 0
 no shutdown
!
router ospf 1
 router-id 49.49.49.49
!
