! RT05 (role=d, ospf=interface) 初期構成
interface Loopback0
 ip address 97.97.97.97 255.255.255.255
 ip ospf 1 area 0
!
interface {{ links[0] }}
 ip address 10.99.78.2 255.255.255.252
 ip ospf 1 area 0
 no shutdown
!
interface {{ links[1] }}
 ip address 10.43.97.2 255.255.255.252
 ip ospf 1 area 0
 no shutdown
!
interface {{ links[2] }}
 ip address 10.106.193.1 255.255.255.252
 ip ospf 1 area 1
 no shutdown
!
router ospf 1
 router-id 97.97.97.97
 area 1 virtual-link 5.5.5.5
!
