! --- data plane ---
interface Loopback0
 ip address 99.99.99.99 255.255.255.255
interface Ethernet0/0
 description === to RT02 ===
 ip address 10.1.23.2 255.255.255.252
 no shutdown
router ospf 1
 router-id 99.99.99.99
 network 99.99.99.99 0.0.0.0 area 0
 network 10.1.23.0 0.0.0.3 area 0
! --- SNMPv3 (NOC 監視標準) ---
snmp-server view MONVIEW iso included
snmp-server group MONGRP v3 priv read MONVIEW
snmp-server location CCNP-LAB
snmp-server view MONVIEW mib-2 excluded
snmp-server user MONUSER MONGRP v3 auth sha CCNP-Auth-2026 priv aes 128 CCNP-Priv-2026
