! RT01 初期状態 (テナントA site1 CE・設定済/変更禁止)
key chain KC-CORP
 key 5
  key-string Ten4162Key
!
interface Loopback1
 ip address 172.20.216.1 255.255.255.0
!
interface Loopback2
 ip address 172.20.217.1 255.255.255.0
!
interface {{ links[0] }}
 ip address 10.72.137.1 255.255.255.252
 ip authentication mode eigrp 210 md5
 ip authentication key-chain eigrp 210 KC-CORP
 no shutdown
!
router eigrp 210
 network 10.72.137.0 0.0.0.3
 network 172.20.216.0 0.0.0.255
 network 172.20.217.0 0.0.0.255
 no auto-summary
!
