! RT02 初期状態 (EIGRP×VRF TS・昨夜の収容作業直後の状態)
key chain KC-CORP
 key 5
  key-string Ten9999Bad
!
vrf definition TENANT-A
 rd 65000:210
 address-family ipv4
 exit-address-family
!
vrf definition TENANT-B
 rd 65000:240
 address-family ipv4
 exit-address-family
!
interface {{ links[0] }}
 vrf forwarding TENANT-A
 ip address 10.72.137.2 255.255.255.252
 no shutdown
!
interface {{ links[1] }}
 vrf forwarding TENANT-A
 ip address 10.72.138.2 255.255.255.252
 no shutdown
!
interface {{ links[2] }}
 vrf forwarding TENANT-B
 ip address 10.72.139.2 255.255.255.252
 no shutdown
!
router eigrp CORPNET
 address-family ipv4 unicast vrf TENANT-A autonomous-system 210
  af-interface Ethernet0/0
   authentication mode md5
   authentication key-chain KC-CORP
  exit-af-interface
  af-interface Ethernet0/1
   authentication mode md5
   authentication key-chain KC-CORP
   summary-address 172.20.216.0 255.255.254.0
  exit-af-interface
  network 10.72.137.0 0.0.0.3
  network 10.72.138.0 0.0.0.3
  eigrp stub connected
 exit-address-family
 address-family ipv4 unicast vrf TENANT-B autonomous-system 240
  network 10.72.139.0 0.0.0.3
 exit-address-family
!
