! PoC B-side: eBGP loopback・multihop 無し(故障)
interface Loopback0
 ip address 3.3.3.3 255.255.255.255
!
interface {{ links[0] }}
 ip address 10.0.34.1 255.255.255.252
 no shutdown
!
ip route 4.4.4.4 255.255.255.255 10.0.34.2
!
router bgp 65003
 bgp log-neighbor-changes
 neighbor 4.4.4.4 remote-as 65004
 neighbor 4.4.4.4 update-source Loopback0
!
