! RT03
interface Loopback0
 ip address 72.72.72.72 255.255.255.255
!
interface Loopback1
 ip address 172.16.47.1 255.255.255.0
!
interface {{ links[1] }}
 ip address 10.127.10.1 255.255.255.252
 no shutdown
!
interface {{ links[0] }}
 ip address 10.226.46.2 255.255.255.252
 no shutdown
!
router bgp 65079
 bgp router-id 72.72.72.72
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 bgp bestpath compare-routerid
 neighbor 10.127.10.2 remote-as 65190
 neighbor 10.226.46.1 remote-as 64694
 address-family ipv4 unicast
  network 172.16.47.0 mask 255.255.255.0
  neighbor 10.127.10.2 activate
  neighbor 10.226.46.1 activate
 exit-address-family
!
