! RT04
interface Loopback0
 ip address 40.40.40.40 255.255.255.255
!
interface Loopback1
 ip address 172.16.134.1 255.255.255.0
!
interface {{ links[1] }}
 ip address 10.179.213.1 255.255.255.252
 no shutdown
!
interface {{ links[0] }}
 ip address 10.127.10.2 255.255.255.252
 no shutdown
!
router bgp 65190
 bgp router-id 40.40.40.40
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 bgp bestpath compare-routerid
 neighbor 10.179.213.2 remote-as 64553
 neighbor 10.127.10.1 remote-as 65079
 address-family ipv4 unicast
  network 172.16.134.0 mask 255.255.255.0
  neighbor 10.179.213.2 activate
  neighbor 10.127.10.1 activate
 exit-address-family
!
